spnr_xml/spnr_sdk/xsd/OJ_Baggage_SimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Gary Craig (Openjaw Technologies) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:simpleType name="AgentPseudoCityType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Pseudo City Code.
Example: AAA2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AggregatorRoleType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Aggregator Role enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
A = AGGREGATOR COMMUNICATING WITH AIRLINE
R = AGGREGATOR COMMUNICATING WITH REQUESTOR</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>A = AGGREGATOR COMMUNICATING WITH AIRLINE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>R = AGGREGATOR COMMUNICATING WITH REQUESTOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Airline designator code.
Example: UA

For maximum interoperability, it is recommended that IATA/ATA defined 2-3 character designator encoding be used.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirportCityCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Airport or city code.
Examples: JFK, NYC</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="IATAAirportCityCodeType"/>
	</xs:simpleType>
	<xs:simpleType name="AirRowNbrType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Aircraft row number.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="01"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountCategoryType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Amount category.
Examples:
A (AMOUNT)
P (PERCENTAGE)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
A = AMOUNT
P = PERCENTAGE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation source="DESCRIPTION" xml:lang="en">Commission is an amount.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation source="DESCRIPTION" xml:lang="en">Comission is a percentage.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AvailSeatStatusType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Available seats status type.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Seat status.
Example: SEATS ON REQUEST ONLY TO AIRLINE

For maximum interoperability, Refer to IATA PADIS Code List for data element 9865 - Seat Occupation.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="BagAllowType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Baggage Allowance Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a BAGGAGE WEIGHT LIMIT string value.
=enumerated values=
PC = PER PIECE
1PC = 1 PEICE
2PC = 2 PIECES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PC">
				<xs:annotation>
					<xs:documentation>PC = PER PIECE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1PC">
				<xs:annotation>
					<xs:documentation>1PC = 1 PEICE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2PC">
				<xs:annotation>
					<xs:documentation>2PC = 2 PIECES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BagOptChargeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Catalog of Charges Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value that is bilaterally agreed upon between trading partners.
=enumerated values=
C = CATALOG ONLY
S = SERVICE CHARGE DETAILS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>C = CATALOG ONLY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>S = SERVICE CHARGE DETAILS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ChoiceListType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Predefined Choices enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value that is bilaterally agreed upon between trading partners.
=enumerated values=
Y = YES
N = NO</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>N = NO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Y = YES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChoiceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Choice type.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
Y = YES
N = NO</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="ChoiceListType"/>
	</xs:simpleType>
	<xs:simpleType name="ChoicePrefType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Predefined Preference enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
N = NOT ACCEPTABLE  (only search results that do not include this preference should be returned)
P = PREFERRED (search results that do or do not satisfy this preference should be returned)
R = REQUIRED (only search results that satisfy this preference should be returned)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>P = PREFERENCE PREFERRED
Search results that do or do not satisfy this preference should be returned.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>R = PREFERENCE REQUIRED
Only search results that satisfy this preference should be returned.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityNameType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">City name.
Example: PARIS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClassOfServiceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight class of service.
Example: B</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Two character country code.
Example: US</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeDefType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">ISO 4217 3 alpha character currency code definition.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataFormatType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Data Format enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value that is bilaterally agreed upon between trading partners.
=enumerated values=
A = ALPHANUMERIC (DEFAULT)
D = ISO DATE FORMAT
N = NUMERIC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>A = ALPHANUMERIC (DEFAULT)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D = ISO DATE FORMAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>N = NUMERIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Date.
Example: 2013-12-25</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DisclosureCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">US Department of Transportation (DOT) Disclosure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value that is bilaterally agreed upon between trading partners.
=enumerated values=
N = BAGGAGE IS NOT SUBJECT TO US DOT RESERVATION OR DISCLOSURE
Y = BAGGAGE IS SUBJECT TO US DOT RESERVATION AND DISCLOSURE
D = BAGGAGE IS SUBJECT TO DISCLOSURE BUT NOT TO US DOT RESERVATION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D = BAGGAGE IS SUBJECT TO DISCLOSURE, BUT NOT TO US DOT RESERVATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>N = BAGGAGE IS NOT SUBJECT TO US DOT RESERVATION OR DISCLOSURE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation>Y = BAGGAGE IS SUBJECT TO BOTH US DOT DISCLOSURE AND RESERVATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Distance Unit of Measure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
K = KILOMETERS
M = MILES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="K">
				<xs:annotation>
					<xs:documentation>K = KILOMETERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>M = MILES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareBasisCodeDefType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare basis code definition.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">ATPCO ENCODING: This is the fare class code in ATPCO pricing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="FareExchCalcMethodType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare Exchange Calculation Method enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
BASE = BASE FARE
EQV = EQUIVALENT FARE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BASE">
				<xs:annotation>
					<xs:documentation>BASE = BASE FARE USED TO DETERMINE THE ADD/COLLECT AMOUNT ON EXCHANGE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EQV">
				<xs:annotation>
					<xs:documentation>EQV = EQUIVALENT FARE USED TO DETERMINE ADD/COLLECT AMOUNT ON EXCHANGE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareRuleCatListType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare Rule Category Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
ACC = ACCOMPANIED TRAVEL
ADD = ADD-ONS
AGT = AGENT DISCOUNTS
APP = RULE APPLICATION
BLA = BLACKOUT DATES
BOC = BOOKING CODE
CHD = CHILDREN DISCOUNTS
CMB = COMBINABILITY
COT = CO-TERMINALS
CTC = CIRCLE TRIP COMBINABILITY
DAY = DAY AND / OR TIME APPLICATION
DEP = DEPOSITS
DSC = ALL OTHER DISCOUNTS
END = TICKET ENDORSEMENTS
EOE = END ON END COMBINABILITY
EXD = TRAVEL RESTRICTIONS (DEPRECATED, USE TVL INSTEAD)
FBR = FARE BY RULE
FLT = FLIGHT APPLICATION
GRP = GROUPS
HIP = HIGHER INTERMEDIATE POINT / MILEAGE EXCEPTIONS
ICT = INTERNATIONAL CONSTRUCTION
LIS = LIST ALL RESTRICTIONS
MAX = MAXIMUM STAY
MIN = MINIMUM STAY
MIS = MISCELLANEOUS PROVISIONS
NET = NEGOTIATED FARES
OPJ = OPEN JAW COMBINABILITY
ORE = OPEN RETURN
OTH = OTHER
PEN = PENALTIES
REF = REFUNDS
RER = REROUTE
RES = ADVANCE RESERVATION / TICKETING RESTRICTIONS
ROU = ROUTINGS
SEA = SEASONALITY
SPP = SPECIAL PROVISIONS
STP = STOPOVERS
SUR = SURCHARGES
TCO = TOUR CONDUCTOR DISCOUNTS
TKT = SALES RESTRICTIONS
TOU = TOURS
TRF = TRANSFERS
TVL = TRAVEL RESTRICTIONS
VCT = VISIT ANOTHER COUNTRY
VOL = VOLUNTARY CHANGES
WHO = ELIGIBILITY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACC">
				<xs:annotation>
					<xs:documentation>ACC = ACCOMPANIED TRAVEL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADD">
				<xs:annotation>
					<xs:documentation>ADD = ADD-ONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AGT">
				<xs:annotation>
					<xs:documentation>AGT = AGENT DISCOUNTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="APP">
				<xs:annotation>
					<xs:documentation>APP = RULE APPLICATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLA">
				<xs:annotation>
					<xs:documentation>BLA = BLACKOUT DATES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BOC">
				<xs:annotation>
					<xs:documentation>BOC = BOOKING CODE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHD">
				<xs:annotation>
					<xs:documentation>CHD = CHILDREN DISCOUNTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMB">
				<xs:annotation>
					<xs:documentation>CMB = COMBINABILITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COT">
				<xs:annotation>
					<xs:documentation>COT = CO-TERMINALS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CTC">
				<xs:annotation>
					<xs:documentation>CTC = CIRCLE TRIP COMBINABILITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DAY">
				<xs:annotation>
					<xs:documentation>DAY = DAY AND / OR TIME APPLICATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEP">
				<xs:annotation>
					<xs:documentation>DEP = DEPOSITS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DSC">
				<xs:annotation>
					<xs:documentation>DSC = ALL OTHER DISCOUNTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="END">
				<xs:annotation>
					<xs:documentation>END = TICKET ENDORSEMENTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EOE">
				<xs:annotation>
					<xs:documentation>EOE = END ON END COMBINABILITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXD">
				<xs:annotation>
					<xs:documentation>EXD = TRAVEL RESTRICTIONS (DEPRECATED, USE TVL INSTEAD)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FBR">
				<xs:annotation>
					<xs:documentation>FBR = FARE BY RULE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FLT">
				<xs:annotation>
					<xs:documentation>FLT = FLIGHT APPLICATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRP">
				<xs:annotation>
					<xs:documentation>GRP = GROUPS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HIP">
				<xs:annotation>
					<xs:documentation>HIP = HIGHER INTERMEDIATE POINT / MILEAGE EXCEPTIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ICT">
				<xs:annotation>
					<xs:documentation>ICT = INTERNATIONAL CONSTRUCTION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIS">
				<xs:annotation>
					<xs:documentation>LIS = LIST ALL RESTRICTIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAX">
				<xs:annotation>
					<xs:documentation>MAX = MAXIMUM STAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MIN">
				<xs:annotation>
					<xs:documentation>MIN = MINIMUM STAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MIS">
				<xs:annotation>
					<xs:documentation>MIS = MISCELLANEOUS PROVISIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NET">
				<xs:annotation>
					<xs:documentation>NET = NEGOTIATED FARES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPJ">
				<xs:annotation>
					<xs:documentation>OPJ = OPEN JAW COMBINABILITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORE">
				<xs:annotation>
					<xs:documentation>ORE = OPEN RETURN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation>OTH = OTHER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PEN">
				<xs:annotation>
					<xs:documentation>PEN = PENALTIES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REF">
				<xs:annotation>
					<xs:documentation>REF = REFUNDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RER">
				<xs:annotation>
					<xs:documentation>RER = REROUTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RES">
				<xs:annotation>
					<xs:documentation>RES = ADVANCE RESERVATION / TICKETING RESTRICTIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ROU">
				<xs:annotation>
					<xs:documentation>ROU = ROUTINGS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEA">
				<xs:annotation>
					<xs:documentation>SEA = SEASONALITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPP">
				<xs:annotation>
					<xs:documentation>SPP = SPECIAL PROVISIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STP">
				<xs:annotation>
					<xs:documentation>STP = STOPOVERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUR">
				<xs:annotation>
					<xs:documentation>SUR = SURCHARGES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TCO">
				<xs:annotation>
					<xs:documentation>TCO = TOUR CONDUCTOR DISCOUNTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TKT">
				<xs:annotation>
					<xs:documentation>TKT = SALES RESTRICTIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOU">
				<xs:annotation>
					<xs:documentation>TOU = TOURS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRF">
				<xs:annotation>
					<xs:documentation>TRF = TRANSFERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TVL">
				<xs:annotation>
					<xs:documentation>TVL = TRAVEL RESTRICTIONS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VCT">
				<xs:annotation>
					<xs:documentation>VCT = VISIT ANOTHER COUNTRY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VOL">
				<xs:annotation>
					<xs:documentation>VOL = VOLUNTARY CHANGES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WHO">
				<xs:annotation>
					<xs:documentation>WHO = ELIGIBILITY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareRuleCatType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare rule category code.
Examples:
ADD (ADD-ONS)
BLA (BLACKOUT DATES)
CMB (COMBINABILITY)
DEP (DEPOSITS)
MAX (MAXIMUM STAY)
MIN (MINIMUM STAY)
NET (NEGOTIATED FARES)
PEN (PENALTIES)
REF (REFUNDS)
RES ( ADVANCE RESERVATION / TICKETING RESTRICTIONS)
SUR (SURCHARGES)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
ACC = ACCOMPANIED TRAVEL
ADD = ADD-ONS
AGT = AGENT DISCOUNTS
APP = RULE APPLICATION
BLA = BLACKOUT DATES
BOC = BOOKING CODE
CHD = CHILDREN DISCOUNTS
CMB = COMBINABILITY
COT = CO-TERMINALS
CTC = CIRCLE TRIP COMBINABILITY
DAY = DAY AND / OR TIME APPLICATION
DEP = DEPOSITS
DSC = ALL OTHER DISCOUNTS
END = TICKET ENDORSEMENTS
EOE = END ON END COMBINABILITY
EXD = TRAVEL RESTRICTIONS (DEPRECATED, USE TVL INSTEAD)
FBR = FARE BY RULE
FLT = FLIGHT APPLICATION
GRP = GROUPS
HIP = HIGHER INTERMEDIATE POINT / MILEAGE EXCEPTIONS
ICT = INTERNATIONAL CONSTRUCTION
LIS = LIST ALL RESTRICTIONS
MAX = MAXIMUM STAY
MIN = MINIMUM STAY
MIS = MISCELLANEOUS PROVISIONS
NET = NEGOTIATED FARES
OPJ = OPEN JAW COMBINABILITY
ORE = OPEN RETURN
OTH = OTHER
PEN = PENALTIES
REF = REFUNDS
RER = REROUTE
RES = ADVANCE RESERVATION / TICKETING RESTRICTIONS
ROU = ROUTINGS
SEA = SEASONALITY
SPP = SPECIAL PROVISIONS
STP = STOPOVERS
SUR = SURCHARGES
TCO = TOUR CONDUCTOR DISCOUNTS
TKT = SALES RESTRICTIONS
TOU = TOURS
TRF = TRANSFERS
TVL = TRAVEL RESTRICTIONS
VCT = VISIT ANOTHER COUNTRY
VOL = VOLUNTARY CHANGES
WHO = ELIGIBILITY</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="FareRuleCatListType"/>
	</xs:simpleType>
	<xs:simpleType name="FareTextType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare Text Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select an enumerated value from the list.
=enumerated values=
A = FULL TEXT
B =MINI RULE</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>A = FULL TEXT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>B = MINI RULE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightCOSType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight class of service.
Example: B</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">=accepted values=
One alpha character from A through Z. 
ATPCO ENCODING: In ATPCO data processing, this is referred to as the RBD.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightDateType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight date type.
Examples:
ARRIVAL
DEPARTURE</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
DEPARTURE
ARRIVAL</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARRIVAL">
				<xs:annotation>
					<xs:documentation>ARRIVAL = ARRIVAL DATE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEPARTURE">
				<xs:annotation>
					<xs:documentation>DEPARTURE = DEPARTURE DATE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightDurationType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Segment total flying time.
Example: 12:30</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]:[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlightStopOverUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Maximum stopover unit of measure.
Examples:
H (HOURS)
D (DAYS)
M (MINUTES)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
H = HOURS
D = DAYS
M = MINUTES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D = DAYS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>H = HOURS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>M = MINUTES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FreeFormTextType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Any type of freeform text.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATAAirportCityCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Airport or city code.
Examples: JFK, NYC</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATANumberType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">IATA-assigned company number.
Example: 98417900</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{7,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImageIDType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Image ID Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list, enter a string value, or leave EMPTY FOR NO IMAGES OR IMAGE IDS ARE RETURNED.
=enumerated values=
IMG = CLIENT REQUEST THE RETURN OF FULL IMAGES (IN BASE64 CODE) IN THE RESPONSE MESSAGE
ID = CLIENT REQUESTS ONLY THE IMAGE ID(S) IN THE RESPONSE (AND IS UTILIZING THE MESSAGE IMAGERQ/RS FOR SUBSEQUENT RETRIEVAL OF THE IMAGE(S) ITSELF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>ID = CLIENT REQUESTS ONLY THE IMAGE ID(S) IN THE RESPONSE (AND IS UTILIZING THE MESSAGE IMAGERQ/RS FOR SUBSEQUENT RETRIEVAL OF THE IMAGE(S) ITSELF.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JourneyTimeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Total flight journey time.
Example: 12:30</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]:[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LangType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Text content language code.
Example: en</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This code specifies the requested language for text content.
2. The default value is 'en' (English).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[a-z][a-z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MandatoryFieldType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Mandatory Field enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
M = MANDATORY
O = OPTIONAL</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>M = MANDATORY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation>O = OPTIONAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MediaDimensionUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Media Content Dimension Unit of Measure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
CM = CENTIMETER
IN = INCH
MM = MILLIMETER
PC = PICA
PX = PIXEL
PT = POINT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>CM = CENTIMETER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>IN = INCH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MM">
				<xs:annotation>
					<xs:documentation>MM = MILLIMETER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PC">
				<xs:annotation>
					<xs:documentation>PC = PICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PT">
				<xs:annotation>
					<xs:documentation>PT = POINT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PX">
				<xs:annotation>
					<xs:documentation>PX = PIXEL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MinMaxPenaltyType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Minimum or Maximum Penalty enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Fare penalty amount application.
Examples:
MAX (MAXIMUM PENALTY)
MIN (MINIMUM PENALTY)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAX">
				<xs:annotation>
					<xs:documentation>MAX = MAXIMUM PENALTY AMOUNT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MIN">
				<xs:annotation>
					<xs:documentation>MIN = MINIMUM PENALTY AMOUNT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthListType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Month Number enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
01 = JANUARY
02 = FEBRUARY
03 = MARCH
04 = APRIL
05 = MAY
06 = JUNE
07 = JULY
08 = AUGUST
09 = SEPTEMBER
10 = OCTOBER
11 = NOVEMBER
12 = DECEMBER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation>01 = JANUARY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation>02 = FEBRUARY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="03">
				<xs:annotation>
					<xs:documentation>03 = MARCH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation>04 = APRIL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation>05 = MAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation>06 = JUNE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="07">
				<xs:annotation>
					<xs:documentation>07 = JULY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="08">
				<xs:annotation>
					<xs:documentation>08 = AUGUST</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation>09 = SEPTEMBER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>10 = OCTOBER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>11 = NOVEMBER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>12 = DECEMBER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Month number code.
Examples:
01 (JANUARY)
02 (FEBRUARY)
03 (MARCH)
04 (APRIL)
05 (MAY)
06 (JUNE)
07 (JULY)
08 (AUGUST)
09 (SEPTEMBER)
10 (OCTOBER)
11 (NOVEMBER)
12 (DECEMBER)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
01 = JANUARY
02 = FEBRUARY
03 = MARCH
04 = APRIL
05 = MAY
06 = JUNE
07 = JULY
08 = AUGUST
09 = SEPTEMBER
10 = OCTOBER
11 = NOVEMBER
12 = DECEMBER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="MonthListType"/>
	</xs:simpleType>
	<xs:simpleType name="OfferIDBaseType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Unique Airline Offer Identifier.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="39"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfficePseudoCityType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Pseudo City Code.
Example: AAA2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherSegmentType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Non-air related category.
Examples:
C (CAR RENTAL)
H (HOTEL)
R (RAIL)
S (CRUISE)
T (ACTIVITY OR TOUR)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PAXType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Passenger type code.
Example: ADT (ADULT)

For maximum interoperability, it is recommended that IATA 3 character Passenger Type (PTC) encoding be used.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">ATPCO ENCODING: This is the passenger type as defined in ATPCO Automated Rules and Footnotes Data Application Appendix A - Passenger Types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PNRLocatorType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Unique passenger name record (PNR) locator code or ID.
Example: KJKRBC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="POICategoryType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Point of Interest type.
Examples:
AIRPORT
CAR RENTAL LOCATION
CINEMA
CITY CENTER
HIGHWAY
LOCATION
PETROL/ GAS STATION
SHOPPING
THEATER
TRAIN STATION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PriceRefKeyType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Unique price reference key.
Example: P234567</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This key must be included in request message if present in previous offer (response) message.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProtectedFormatType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Protected Data Format enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
ENCRYPTED
MASKED
PKI
TOKENIZED</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENCRYPTED"/>
			<xs:enumeration value="MASKED"/>
			<xs:enumeration value="PKI"/>
			<xs:enumeration value="TOKENIZED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PymntCardIssuerType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Payment card issuer.
Example: VISA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="RuleRestrictionContextType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Restriction context.
Examples:
E (EARLIEST)
L (LATEST)
O (ON-TIME)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
L = LATEST
E = EARLIEST
O = ON-TIME</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="L">
				<xs:annotation>
					<xs:documentation>L = LATEST</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>E = EARLIEST</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation>O = ON-TIME</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeatCharacteristicType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Seat characteristics.
Example: L (LEG SPACE SEAT)

For maximum interoperability, refer to IATA PADIS Code List for data element 9825 - Seat Characteristic, Coded.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SeatDimensionUOMType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Seat dimension unit of measure.
Example: IN (INCHES)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
IN = INCHES
CM = CENTIMETERS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>IN = INCHES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>CM = CENTIMETERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="SegmentIDRef" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight segment number.
Examples: F1=Flight Segment 1; F2=Flight Segment 2</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This is used to identify a flight segment if more than 1 flight is returned.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="SizeUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Size Unit of Measure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
CM = CENTIMETERS
IN = INCHES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>CM = CENTIMETERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>IN = INCHES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcDisplayPriorityType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Display Priority enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
P = PRIMARY DISPLAY
S = SECONDARY DISPLAY</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>P = PRIMARY DISPLAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>S = SECONDARY DISPLAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcFareAppType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Offer fare application type.
Examples:
D (ONE DIRECTION PRICED FARES PER O/D)
I (ITINERARY/ JOURNEY PRICED FARES FOR ALL O/D)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
D = ONE DIRECTION PRICED FARES (PER O/D)
I = ITINERARY/ JOURNEY PRICED FARES (ALL O/D)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D = ONE DIRECTION PRICED FARES (PER O/D)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>I = ITINERARY/ JOURNEY PRICED FARES (ALL O/D)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcMatchCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service Match enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string PERCENTAGE MATCH VALUE BETWEEN 1P AND 100P.
=enumerated values=
FULL = FULL MATCH TO REQUESTED QUALIFIERS
NONE = NO MATCH TO REQUESTED QUALIFIERS
PARTIAL = PARTIAL MATCH TO REQUESTED QUALIFIERS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FULL">
				<xs:annotation>
					<xs:documentation>FULL = FULL MATCH TO REQUESTED QUALIFIERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NONE">
				<xs:annotation>
					<xs:documentation>NONE = NO MATCH TO REQUESTED QUALIFIERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTIAL">
				<xs:annotation>
					<xs:documentation>PARTIAL = PARTIAL MATCH TO REQUESTED QUALIFIERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcMatchPercentType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service match percentage to requested qualifiers.
Examples:
1P (1 PERCENT)
50P (50 PERCENT)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">String percentage match between 1P AND 100P.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{3}[P]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcMatchType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service match to requested qualifiers.
Examples:
FULL (FULL MATCH)
NONE (NO MATCH)
PARTIAL (PARTIAL MATCH)
1P (1 PERCENT)
50P (50 PERCENT)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string PERCENTAGE MATCH VALUE BETWEEN 1P AND 100P.
=enumerated values=
FULL = FULL MATCH TO REQUESTED QUALIFIERS
NONE = NO MATCH TO REQUESTED QUALIFIERS
PARTIAL = PARTIAL MATCH TO REQUESTED QUALIFIERS</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="SrvcMatchPercentType"/>
	</xs:simpleType>
	<xs:simpleType name="SrvcPriceAdjType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Adjustment type.
Example: DIS (DISCOUNT)

For maximum interoperability, Refer to IATA PADIS code list SPA - Service Price Adjustment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SrvcProcessStatusType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service processing/ settlement status.
Example: NN (REQUESTED)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SrvcRecOwnerType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Services record owner.
Examples:
ATO (ALL AIRLINE TICKET OFFICES)
CTO (ALL CITY TICKET OFFICES)
RES (ALL RESERVATION CENTERS)
WEB (WEBSITE)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SrvcSalesStatusType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service Sale Status enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list .
=enumerated values=
BOOKED = SERVICES THAT HAVE BEEN SOLD/ BOOKED BUT DO NOT HAVE AN ISSUED EMD/DOCUMENT YET
ISSUED = SERVICES THAT HAVE BEEN SOLD/ BOOKED AND HAVE AN ISSUED EMD/DOCUMENT WITH VALID INFORMATION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BOOKED">
				<xs:annotation>
					<xs:documentation source="DESCRIPTION" xml:lang="en">BOOKED = SERVICES THAT HAVE BEEN SOLD/ BOOKED BUT DO NOT HAVE AN ISSUED EMD/ DOCUMENT YET</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISSUED">
				<xs:annotation>
					<xs:documentation source="DESCRIPTION" xml:lang="en">ISSUED = SERVICES THAT HAVE BEEN SOLD/ BOOKED AND HAVE AN ISSUED EMD/ DOCUMENT WITH VALID INFORMATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SSRCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Passenger assistance SSR code value.
Examples:
EXST (EXTRA SEAT REQUIRED)
INFT (INFANT ACCOMPANYING ADULT PASSENGER)
PETC (PASSENGER TRAVELING WITH PET IN CABIN)
UMNR (UNACCOMPANIED MINOR)

=notes=
1. Although optional in the schema, some SSR codes may require associated description elements.
2. For maximum interoperability, it is recommended that IATA defined special service requirement (SSR) encoding be used.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetSystemType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Target System enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
PRODUCTION
STAGING
TEST
OTHER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRODUCTION"/>
			<xs:enumeration value="STAGING"/>
			<xs:enumeration value="TEST"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeFrequencyUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Frequency value.
Example: H (HOURS)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
M = MINUTES
H = HOURS
D = DAYS
O = MONTHS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>M = MINUTES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>H = HOURS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D = DAYS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation>O = MONTHS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Time.
Example: 14:00</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="([0-1][0-9]|2[0-3]):[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TPointDeviceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Touchpoint device type.
Example: MOD (MOBILE DEVICE)

For maximum interoperability, Refer to IATA PADIS code list TDT - Touchpoint Device Type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TPointTransCatType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Touchpoint transaction category.
Example: CHE (CHECK-IN)

For maximum interoperability, Refer to IATA PADIS code list TTT - Touchpoint Transaction Type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TravelDateType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Travel date type.
Example: ADA (AFTER DATE BASED ON ARRIVAL)

For maximum interoperability, Refer to IATA PADIS code list CSD - Calendar Shopping Date Type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TravelerDateOfBirthType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Traveler birth date.
Example: 1985-12-25</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="TravelerGenderType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Traveler gender.
Examples:
M (Male)
FI (Female Infant)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
F = FEMALE
M = MALE
MI = MALE INFANT
FI = FEMALE INFANT
U = UNDISCLOSED/ UNKOWN GENDER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>F = FEMALE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>M = MALE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MI">
				<xs:annotation>
					<xs:documentation>MI = MALE INFANT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FI">
				<xs:annotation>
					<xs:documentation>FI = FEMALE INFANT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U">
				<xs:annotation>
					<xs:documentation>U = UNDISCLOSED/ UNKNOWN GENDER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TripPurposeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Trip Purpose enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
BUSINESS
BUSINESS AND LEISURE
LEISURE
UNKNOWN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="TwoDigitYearType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Two digit year value.
Example: 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightUnitType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Weight Unit of Measure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
KG = KILOGRAMS
LBS = POUNDS
PC = PIECES</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KG">
				<xs:annotation>
					<xs:documentation>KG = KILOGRAMS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBS">
				<xs:annotation>
					<xs:documentation>LBS = POUNDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PC">
				<xs:annotation>
					<xs:documentation>PC = PIECES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightUnitNoPieceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Weight Unit of Measure enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
KG = KILOGRAMS
LBS = POUNDS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KG">
				<xs:annotation>
					<xs:documentation>KG = KILOGRAMS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBS">
				<xs:annotation>
					<xs:documentation>LBS = POUNDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PC">
				<xs:annotation>
					<xs:documentation>PC = PIECES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WideSearchBudgetListType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Wide Search Budget Type enumerated list.</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
TTL = TOTAL FOR ALL TRAVELERS
TRAV = AMOUNT PER INDIVIDUAL TRAVELER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TTL">
				<xs:annotation>
					<xs:documentation>TTL = TOTAL FOR ALL TRAVELERS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRAV">
				<xs:annotation>
					<xs:documentation>TRAV = AMOUNT PER INDIVIDUAL TRAVELER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WideSearchBudgetType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Travel budget application.
Examples:
TTL (TOTAL FOR ALL TRAVELERS)
TRAV (AMOUNT PER INDIVIDUAL TRAVELER)
</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
TTL = TOTAL FOR ALL TRAVELERS
TRAV = AMOUNT PER INDIVIDUAL TRAVELER</xs:documentation>
		</xs:annotation>
		<xs:restriction base="WideSearchBudgetListType"/>
	</xs:simpleType>
	<xs:simpleType name="ContentDataType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="local"/>
			<xs:enumeration value="remote"/>
		</xs:restriction>
	</xs:simpleType>

      <xs:attributeGroup name="ApplyToAll">
	<xs:attribute name="ApplyToAll" type="ChoiceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, this offer, if selected, applies to all passengers in the PNR.
Example: Y (YES)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
      </xs:attributeGroup>
	<xs:attribute name="BookingTime" type="TimeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Booking time.
Example: 14:30</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="Bundle">
	<xs:attribute name="Bundle" type="ChoiceType" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, this offer is part of a BUNDLED OFFER.
Example: Y (YES)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
	<xs:attribute name="Cabin" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Cabin class of service.
Examples:
ALL (All Cabin Classes)
C (Business Class)
F (First Class)
J (Business Class Premium)
P (First Class Premium)
Q (Coach Economy Discounted)
S (Standard Class)
Y (Coach Economy)

For maximum interoperability, refer to PADIS codeset element 9800 - Reservation Booking Designator.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="CanDeselect">
	<xs:attribute name="CanDeselect" type="ChoiceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, this service item can be declined and DESELECTED, e.g. an alcoholic beverage coupon.
Example: Y (YES)</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This attribute is set by the merchandizing engine for services which are typically included in a Price Class or Class of Service, but may not be desired by the traveler, such as Premium Drinks on the flight.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="CanUnbundle">
	<xs:attribute name="CanUnbundle" type="ChoiceType" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, service can be UNBUNDLED from a service bundle.
Example: Y (YES)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="CnxxIndicator">
	<xs:attribute name="CnxxIndicator" type="ChoiceType" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, there are one or more connections.
Example: Y (YES)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="DepartureArrivalCode">
	<xs:attribute name="DepartureCode" type="AirportCityCodeType" use="required">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Departure airport or city code.
Example: JFK

For maximum interoperability, it is recommended that IATA Place/Location Identification encoding be used.</xs:documentation>
		</xs:annotation>
	</xs:attribute>

            <xs:attribute name="ArrivalCode" type="AirportCityCodeType" use="required">
                <xs:annotation>
                    <xs:documentation source="DESCRIPTION" xml:lang="en">Arrival airport or city code.
                        Example: MIA

                        For maximum interoperability, it is recommended that IATA Place/Location Identification encoding be used.</xs:documentation>
                </xs:annotation>
            </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="DisplayPriority">
	<xs:attribute name="DisplayPriority" type="SrvcDisplayPriorityType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Display priority.
Example: S (SECONDARY DISPLAY)</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
P = PRIMARY DISPLAY
S = SECONDARY DISPLAY</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. The display priority alows the GUI to display this service in a primary or secondary display.
2. This is powerful for special chargeable services such as Pet Fee, Bike Fee, and Unaccompanied Minor.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>








    <xs:attributeGroup name="SrvcAttributes">

        <xs:attribute name="Type" type="xs:string">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Service fee basis.
                    Examples:
                    DIS (Option directly applied to fare)
                    FEE (Baggage only)
                    FNA (Item is not available/ applicable)
                    INC (Item is free of charge)
                    NAP (Item not applicable/ available)
                    SUR (Surcharge)

                    For maximum interoperability, Refer to IATA PADIS code list SFB - Service Fee Basis.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TypeValue" type="xs:string">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Service coupon type.
                    Examples:
                    1 (Standalone)
                    2 (Flight Associated)
                    3 (Ticket Associated)
                    4 (No EMD, Carrier Directed)
                    5 (E-Ticket)

                    For maximum interoperability, Refer to IATA PADIS code list SCT - Service Coupon Type.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Airline" type="AirlineCodeType">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Airline designator code of service provider.
                    Example: UA

                    For maximum interoperability, it is recommended that IATA/ATA defined 2-3 character designator encoding be used.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FareBrand" type="xs:string">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Fare brand that service is bundled with.
                    Example: SUPERSAVER</xs:documentation>
                <xs:documentation source="ENCODING" xml:lang="en">ATPCO ENCODING: Note, ATPCO Branded Fares Program Code and Description</xs:documentation>
                <xs:documentation source="GUIDELINES" xml:lang="en">=notes=
                    1. The service is a part of (included in) a bundle associated to this fare brand.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="ValidBeforeAfter"/>
        <xs:attribute name="DealID" type="xs:string">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">FQTV promotion ID.
                    Example: GOBIG</xs:documentation>
                <xs:documentation source="GUIDELINES" xml:lang="en">=notes=
                    1. This special target market promotion only applies only for FQTV numbers identified for the promotion.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ProviderIDRef" type="xs:string">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Actual service provider or fulfillment source reference.
                    Example: FOODSRVCORP</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="ValidBeforeAfter">
    <xs:attribute name="NotValidBefore" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation source="DESCRIPTION" xml:lang="en">The EARLIEST date the option is available or may be used.
                Example: 2013-01-13</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="NotValidAfter" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation source="DESCRIPTION" xml:lang="en">The LATEST date the option is available or may be used.
                Example: 2014-01-13</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    </xs:attributeGroup>
	<xs:attribute name="FareFormat" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare category.
Examples:
ITI	(Itinerary priced fares)
ONE	(One-directionally priced fare)

For maximum interoperability, refer to IATA PADIS Code List for data element 9910 - Fare Qualifier.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="FareType">
	<xs:attribute name="FareType" type="xs:string" use="required">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare type.
Examples:
70E (ATPCO Negotiated Fares  Cat35)
70J (Published Fares)
70K (Dynamic Discounted Fares)
749 (Negotiated Fares)
756 (One Way Fare)
758 (Private Fares)

For maximum interoperability, refer to PADIS codeset element 9910 - Fare Qualifier.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
	<xs:attribute name="FCICode" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Fare code indicator.
Example: 1 (SYSTEM PRICED WITHOUT MANUAL INTERVENTION)

For maximum interoperability, refer to IATA PADIS Code List for data element 5387 - Price Type Qualifier.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="FlightRefKey" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Unique ID to bind request and response.</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This allows the UI to associate RQ and RS with arbitrary values.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="FQTVCarrier">
	<xs:attribute name="FQTVCarrier" type="AirlineCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Frequent flier program carrier owner.
Example: UA</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This is the carrier that owns the frequent flier program to which any bonus may be applicable.
2. (Baggage related) This carrier may differ from the carrier that owns the baggage policy based on processing of the ATPCO Frequent Flier Answer Table.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="FQTVAttrType">
	<xs:attribute name="FQTVNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Traveler frequent flyer number.
Example: 6221H3</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. Designating this number allows the POS GUI to associate the actual traveler with the respective option/ price.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="FQTVStatus" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Traveler FQTV status or tier level.
Example: PLATINUM</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">ATPCO ENCODING: Note, For ATPCO processing, this is the derived Frequent Flyer Status from the Frequent Flyer Answer Table.</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This value is typically derived from a separate query against an airlines FQTV database.
2. Examples:
AA (American AAdvantage): Gold, Platinum, Executive Platinum
LH (Miles and More): Frequent Traveller, Senator, HON Circle
EK (Emirates Skywards): Silver, Gold</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="FlightNumber">
	<xs:attribute name="FlightNumber" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight Number</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">For Baggage coming from AAM.</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
For Baggage coming from AAM</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="Icon">
	<xs:attribute name="Icon" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service marketing icon name or ID. Example: MEALS</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="MarriedSegment">
	<xs:attribute name="MarriedSegment" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Married segment type.
Example: B (BEGINNING OF MARRIED SEGMENT GROUP)

For maximum interoperability, refer to IATA PADIS Code List for data element 1050 - Sequence Number.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="MaxQuantity">
	<xs:attribute name="MaxQuantity" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Maximum item/ service ordering quantity.
Example: 5</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">ACCEPTED VALUES integer between 2 and 99.</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This attribute is only used when more than a single item/service can be ordered.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:minInclusive value="2"/>
				<xs:maxInclusive value="99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="Method">
	<xs:attribute name="Method" type="xs:string" use="required">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Settlement method.
Example: DS (Direct Settlement)

For maximum interoperability, Refer to IATA PADIS code list SST - Service Settlement Type.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="MethodOptional">
        <xs:attribute name="Method" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Settlement method.
                    Example: DS (Direct Settlement)

                    For maximum interoperability, Refer to IATA PADIS code list SST - Service Settlement Type.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="ONOFFPoint">
	<xs:attribute name="OFFPoint" type="AirportCityCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight slice OFF point.
Example: MIA

For maximum interoperability, it is recommended that IATA Place/Location Identification encoding be used.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="ONPoint" type="AirportCityCodeType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight slice ON point.
Example: ORD

For maximum interoperability, it is recommended that IATA Place/Location Identification encoding be used.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="PaxType">
	<xs:attribute name="PaxType" type="PAXType" use="required">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Passenger type code.
Example: ADT (ADULT)

For maximum interoperability, it is recommended that IATA 3 character Passenger Type (PTC) encoding be used.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="PriceClassName">
	<xs:attribute name="PriceClassName" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Associated price class or marketing name.
Example: SUPERSAVER</xs:documentation>
			<xs:documentation source="ENCODING" xml:lang="en">ATPCO ENCODING: In ATPCO data processing, this is the brand name.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>

	<xs:attribute name="QueryID" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Query ID.
Example: ABC1234</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="ReasonCode">
	<xs:attribute name="ReasonCode" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">IATA Reason for Issuance Code (RFIC) code. 
Example: A (Air Transportation)

For maximum interoperability, refer to IATA PADIS Code List for data element 4183 - Special Condition, Coded.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="ReasonCodeReq">
        <xs:attribute name="ReasonCode" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">IATA Reason for Issuance Code (RFIC) code.
                    Example: A (Air Transportation)

                    For maximum interoperability, refer to IATA PADIS Code List for data element 4183 - Special Condition, Coded.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
	<xs:attribute name="RedemptionPricing" type="ChoiceType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">If Y, include redemption pricing in search results.
Examples:
Y (INCLUDE REDEMPTION PRICING)
N (EXCLUDE REDEMPTION PRICING)
O (ONLY REDEMPTION PRICING)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="RefType">
	<xs:attribute name="RefType">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Location of the referenced data.
Example: MSG</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=accepted values=
MSG = Value is associated to traveler, flight and service elements within this message (but IS NOT defined in ReferenceDefinitions element)

BKG = Value is associated to existing elements in Booking/PNR/Cache repository

REF = Value is associated to traveler, flight and service data that is defined in the ReferenceDefinitions element</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MSG">
					<xs:annotation>
						<xs:documentation source="DESCRIPTION" xml:lang="en">Value is associated to traveler, flight and service elements within the message (but not in ReferenceDefinitions)</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="BKG">
					<xs:annotation>
						<xs:documentation source="DESCRIPTION" xml:lang="en">Value is associated to existing elements in Booking/PNR/Cache repository.</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="REF">
					<xs:annotation>
						<xs:documentation source="DESCRIPTION" xml:lang="en">Value is associated to traveler, flight and service data are defined in the ReferenceDefinitions element.</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
     </xs:attributeGroup>
    <xs:attributeGroup name="ServiceTypeCode">
	<xs:attribute name="ServiceType" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service type.
Examples:
F (Flight Related, NDC default encoding)
SEAT (Premium Seat, implementer encoding)

For maximum interoperability, Refer to IATA PADIS code list STY - Optional Service Type.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
        <xs:attribute name="ServiceCode" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Service code.
                    Example: OC (ATPCO encoding)

                    =notes=
                    1. For ATPCO encoding, the default value for this attribute is "OC".</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="SubCode"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="SubCode">
    <xs:attribute name="SubCode" type="xs:string" use="optional">
        <xs:annotation>
            <xs:documentation source="DESCRIPTION" xml:lang="en">Service reason for issuance subcode.
                Example: 0CC (FIRST CHECKED BAG)

                =notes=
                1. For ATPCO service encoding, this is the Reason For Issuance Subcode.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="SubCodeReq">
        <xs:attribute name="SubCode" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Service reason for issuance subcode.
                    Example: 0CC (FIRST CHECKED BAG)

                    =notes=
                    1. For ATPCO service encoding, this is the Reason For Issuance Subcode.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="Source">
    <xs:attribute name="Source" use="optional">
        <xs:annotation>
            <xs:documentation source="DESCRIPTION" xml:lang="en">Content source.
                Example: BA</xs:documentation>
            <xs:documentation source="GUIDELINES" xml:lang="en">=notes=
                1. This may be used to identify any source of information, including an airline, an aggregator, a direct connect, an internal processing system, etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
</xs:attributeGroup>
    <xs:attributeGroup name="SourceReq" >
        <xs:attribute name="Source" use="required">
            <xs:annotation>
                <xs:documentation source="DESCRIPTION" xml:lang="en">Content source.
                    Example: BA</xs:documentation>
                <xs:documentation source="GUIDELINES" xml:lang="en">=notes=
                    1. This may be used to identify any source of information, including an airline, an aggregator, a direct connect, an internal processing system, etc.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="SourceRef">
	<xs:attribute name="SourceRef" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">PNR Record Locator or unique ID associated to Source attribute.
Examples: R1A3SK, P123</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="SpecialItemCode">
	<xs:attribute name="SpecialItemCode" type="xs:string" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service reason for issuance subcode.
Example: 0CC (FIRST CHECKED BAG)

=notes=
1. For ATPCO service encoding, this is the Reason For Issuance Subcode.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="Status">
	<xs:attribute name="Status" type="SrvcProcessStatusType" use="optional">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Service processing/ settlement status.
Examples:
NN (REQUESTED)
HK (CONFIRMED)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>
	<xs:attribute name="TicketNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Ticket number.
Example: 00159622222201</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This is the ticket 13-digit number plus check digit.
2. If the ticket is part of a conjunctive set, this is the actual number within the set.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    <xs:attributeGroup name="TimeStamp">
	<xs:attribute name="TimeStamp" type="xs:dateTime" use="required">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Full timestamp.
Example: 2013-01-13T13:20:00</xs:documentation>
		</xs:annotation>
	</xs:attribute>
    </xs:attributeGroup>


	<xs:attributeGroup name="DataFormatGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Data format information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Min" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Field minimum length.
Example: 6</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Max" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Field maximum length.
Example: 20</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Format" type="DataFormatType" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Field content format.
Examples:
A (ALPHANUMERIC)
D (ISO DATE FORMAT)
N (NUMERIC)</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list or enter a string value.
=enumerated values=
A = ALPHANUMERIC
D = ISO DATE FORMAT
N = NUMERIC</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Mandatory" type="MandatoryFieldType" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Mandatory field indicator.
Example: O (OPTIONAL)</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
M = MANDATORY
O = OPTIONAL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DataElementID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Vendor code assigned to this reporting element.
Example: BK</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DataElementName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Vendor element name assigned to this reporting element.
Example: COST CENTER</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="FlightQualifyingGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Flight qualifying attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="GeoIndicator" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Geographical indicator type.
Example: DOM (DOMESTIC/ DOMESTIC)

For maximum interoperability, refer to PADIS codeset element 9970 - Product Details Qualifier.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FlightLength" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Flight haul length type.
Example: LH (LONG-HAUL 6 HRS PLUS)

For maximum interoperability, refer to IATA PADIS code list FHT - Flight Haul Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PayloadStdAttributes">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">NDC schema payload standard attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Version" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Message version number.
Example: 1.0</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Message creation timestamp.
Example: 2012-01-13T13:59:38Z</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionIdentifier" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Unique relationship identifier for request and response messages that are part of an on-going transaction.
Example: TRN12345</xs:documentation>
				<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. This is a unique identifier to relate all messages that are part of an on-going transaction.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PrimaryLangID" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Primary language preference for message content.
Example: en-US (English, United States)</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">For maximum interoperability, content language designators are specified using Microsoft National Language Support (NLS) encoding.
http://msdn.microsoft.com/en-us/goglobal/bb896001.aspx</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AltLangID" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Alternate language preference for message content.
Example: en-GB (English, United Kingdom)</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">For maximum interoperability, content language designators are specified using Microsoft National Language Support (NLS) encoding.
http://msdn.microsoft.com/en-us/goglobal/bb896001.aspx</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="2"/>
					<xs:maxLength value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TargetSystem" type="TargetSystemType" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Message target system type.
Examples:
PRODUCTION
STAGING
TEST</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
PRODUCTION
STAGING
TEST</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TargetSystemName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Message target system name.
Example: STG002</xs:documentation>
			</xs:annotation>
		</xs:attribute>
        <xs:attribute name="SequenceNmbr" type="xs:nonNegativeInteger" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and needs to retrieve messages that were missed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>
	<xs:attributeGroup name="ProximityGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Proximity information.</xs:documentation>
			<xs:documentation source="GUIDELINES" xml:lang="en">=notes=
1. Proximity information includes an area value and associated unit of measure.
2. Proximity may be used in a shopping query to specify the extent of a search area relevant to a departure or arrival airport location.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DistanceUnit" type="DistanceUnitType" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Distance unit of measure.
Examples:
K (KILOMETERS)
M (MILES)</xs:documentation>
				<xs:documentation source="ENCODING" xml:lang="en">Select a value from the enumerated list.
=enumerated values=
K = KILOMETERS
M = MILES</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Area" type="xs:unsignedLong" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Requested maximum search extension radius value -OR- actual radius value in response search results.
Example: 50, 13.3</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ServiceBundleGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Optional service BUNDLE qualifier attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ItemCount" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">Individual bundle items total.
Example: 4</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MinSelect" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">MINIMUM number of bundled service items that must be selected.
Example: 2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxSelect" type="xs:positiveInteger" use="optional">
			<xs:annotation>
				<xs:documentation source="DESCRIPTION" xml:lang="en">MAXIMUM number of bundled service items that may be selected.
Example: 3</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ServiceBundleIDGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Optional service BUNDLE identification attributes.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="ReasonCode"/>
		<xs:attributeGroup ref="ServiceTypeCode" />
		<xs:attributeGroup ref="MethodOptional" />
		<xs:attributeGroup ref="Status" />
		<xs:attributeGroup ref="ValidBeforeAfter"/>
		<xs:attributeGroup ref="Icon" />
		<xs:attributeGroup ref="CanDeselect" />
	</xs:attributeGroup>
	<xs:attributeGroup name="SrvcItemAttributesDisplayGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Common service item attributes for purchased services.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="Method" />
		<xs:attributeGroup ref="Source" />
		<xs:attributeGroup ref="ReasonCodeReq" />
		<xs:attributeGroup ref="ServiceTypeCode"/>
        <xs:attributeGroup ref="SrvcAttributes"/>
		<xs:attributeGroup ref="FQTVCarrier" />
		<xs:attributeGroup ref="FQTVAttrType" />
		<xs:attributeGroup ref="Status" />
	</xs:attributeGroup>
	<xs:attributeGroup name="SrvcItemAttributesGroup">
		<xs:annotation>
			<xs:documentation source="DESCRIPTION" xml:lang="en">Common service item attributes.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="Source" />
		<xs:attributeGroup ref="ReasonCode"/>
		<xs:attributeGroup ref="ServiceTypeCode"/>
		<xs:attributeGroup ref="Method" />
        <xs:attributeGroup ref="SrvcAttributes"/>
		<xs:attributeGroup ref="ApplyToAll" />
		<xs:attributeGroup ref="CanDeselect" />
		<xs:attributeGroup ref="Bundle"/>
		<xs:attributeGroup ref="CanUnbundle"/>
		<xs:attributeGroup ref="Icon" />
		<xs:attributeGroup ref="DisplayPriority" />
		<xs:attributeGroup ref="MaxQuantity" />
		<xs:attributeGroup ref="FQTVCarrier"/>
		<xs:attributeGroup ref="FQTVAttrType" />
		<xs:attributeGroup ref="Status" />
	</xs:attributeGroup>
</xs:schema>
