spnr_xml/spnr_sdk/xsd/OJ_DestActivityCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Krzysztof Ulman (OpenJaw Technologies Polska Sp. z o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" version="2.100" id="OTA2003A2006B">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelContentDescription.xsd"/>
	<xs:complexType name="EventCategoriesType">
		<xs:sequence>
			<xs:element name="Category" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="Name" type="xs:string"/>
					<xs:attribute name="Code" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Code </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CodeContext" type="xs:string"/>
					<xs:attribute name="SubCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>The service code which comes from the supplier side, different supplier may have different subCode. .e.g. For SZ supplier, 7 is pickUp, 8 is dropOff.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SupplierCode">
						<xs:annotation>
							<xs:documentation>The supplier which supply the subCode of this category. This is used when the Code and CodeContext used to definite other code information.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelativePositionsType">
		<xs:sequence>
			<xs:element name="RelativePosition" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attributeGroup ref="RelativePositionGroup"/>
					<xs:attribute name="IndexPointCode" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Identify the reference's type </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Name" type="xs:string" use="required"/>
					<xs:attribute name="Code">
						<xs:annotation>
							<xs:documentation>Identify the relative Position</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="combinationAllowedType">
		<xs:sequence>
			<xs:element name="Combination" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="Code" type="xs:integer" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AllRates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Rates" maxOccurs="unbounded"/>
				<xs:element name="QuantityOptions" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="QuantityOption" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="ValidQuantity"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Amenities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Amenity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Amenity">
		<xs:annotation>
			<xs:documentation>Amenity supported</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="AmenityCode" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>Amenity Code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Amenity Name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvailabilityAllRates">
		<xs:annotation>
			<xs:documentation>Provides all Availability and Rates</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="AvailabilityRates" maxOccurs="unbounded"/>
				<xs:element name="EventDateTime" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Provides all Date Time available: Each EventDateTime represents an Activity</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="AllRates" maxOccurs="2"/>
							<xs:element name="SupplierSpecificInfos" type="SupplierSpecificInfosType" minOccurs="0"/>
							<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>All the charges and discounts applied at the level of the overall super PNR</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CalculatedTotal" type="TotalType" minOccurs="0" maxOccurs="2">
								<xs:annotation>
									<xs:documentation>Calculated total for this EventDateTime based on request details</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="TimeOnly"/>
						<xs:attribute name="DateOnly"/>
						<xs:attribute name="ForDate">
							<xs:annotation>
								<xs:documentation>Activity Start Date</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ForTime">
							<xs:annotation>
								<xs:documentation>Activity Start Time</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="CommissionPercent"/>
			<xs:attribute name="MaxQuantity">
				<xs:annotation>
					<xs:documentation>Maximum number of ticket to sell</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Commission"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Discounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DiscountForTickets" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A discount based on the number of tickets purchased</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="AllTickets" type="xs:boolean" default="true">
							<xs:annotation>
								<xs:documentation>Whether this discount is applied to all tickets or from the number required onwards</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="NumberOfTickets" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>The number of tickets to be purchased in order to qualify for the discount</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Percentage" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>The percentage off</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AvailabilityRates">
		<xs:annotation>
			<xs:documentation>Provides all Availability and Rates for a date range</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StatusApplicationControl" maxOccurs="unbounded"/>
				<xs:element name="StatusApplicationBlackOutDates" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Black out range date: black out Period in the date range where the Activity is not available.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StatusApplicationBlackOutDate" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="FromDate"/>
									<xs:attribute name="ToDate"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Discounts" minOccurs="0"/>
				<xs:element name="Releases" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Release" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="NumDays" type="xs:int">
										<xs:annotation>
											<xs:documentation>The number of days previous to the event when the release kicks in</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumTickets" type="xs:int" default="0">
										<xs:annotation>
											<xs:documentation>The numbers of tickets kept</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Date" type="xs:date">
										<xs:annotation>
											<xs:documentation>The date on which the release kicks in. If this attribute is specified then the NumDays is ignored</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumHours" type="xs:int"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SellingRestrictions" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Defines restrictions to sell events using this contract. If no restriction is specified it means it's open under that criteria.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CustomerTypes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The customer types that can access this contract</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CustomerType" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Regions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The regions where the contract cannot be used</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Region" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DistributionChannels" minOccurs="0">
								<xs:annotation>
									<xs:documentation>The distribution channels on which the contract can be sold </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DistributionChannel" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType/>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Start" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>Start range date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="End" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation>End range date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RPH" type="RPH_Type" use="required"/>
			<xs:attribute name="RateType"/>
			<xs:attribute name="SaleStart"/>
			<xs:attribute name="SaleEnd"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BasicRate">
		<xs:annotation>
			<xs:documentation>Provide Basic Rate</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupplierSpecificInfos" type="SupplierSpecificInfosType" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="CurrencyAmountGroup"/>
			<xs:attribute name="RecommendedAmount"/>
			<xs:attribute name="RecommendedCurrency"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rates">
		<xs:annotation>
			<xs:documentation>Provide Basic Rates for each passenger type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SupplierSpecificInfos" type="SupplierSpecificInfosType" minOccurs="0"/>
				<xs:element name="Rate" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BasicRate"/>
							<xs:element name="TotalRate">
								<xs:annotation>
									<xs:documentation>Provides Total Rate with taxes</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="TotalType">
											<xs:attribute name="RecommendedAmount" type="xs:float" use="optional"/>
											<xs:attribute name="RecommendedCurrency" type="AlphaLength3" use="optional"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="CalculatedTotal" type="TotalType">
								<xs:annotation>
									<xs:documentation>Calculated total for this passenger type based on request details</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="NegotiatedPrice" minOccurs="0">
								<xs:complexType>
									<xs:attributeGroup ref="CurrencyAmountGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>All the charges and discounts applied at the level of the overall super PNR</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Loyalty" type="LoyaltyPricingType" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="Availability" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Define allocation for this type of passenger. The allocation can be defined at the catefory level or per person type. The attribute isInventoryPerPTCType define the type of allocation. For example, the allocation can be per Adult and Child or regardless teh type or passenger</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="required"/>
						<xs:attribute name="Quantity" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>Defines the number of tickets allocated to this rate.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CountReleased" type="xs:int">
							<xs:annotation>
								<xs:documentation>The amount booked for  the applicable rate element.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CountBooked" type="xs:int">
							<xs:annotation>
								<xs:documentation>The amount booked for  the applicable rate element.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType"/>
				<xs:element ref="Discounts" minOccurs="0"/>
				<xs:element name="CalculatedTotal" type="TotalType" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>Calculated total for this EventDateTime based on request details</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Loyalty" type="LoyaltyPricingType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="MinAdvPurchase">
				<xs:annotation>
					<xs:documentation>Minimum numbers of day</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CategoryCode" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Define category of tickets (Stand,Superior,....)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Availability" type="xs:integer" use="optional">
				<xs:annotation>
					<xs:documentation>Define allocation for this category of tickets. The allocation can be defined at the catefory level or per person type. The attribute isInventoryPerPTCType define the type of allocation. For example, the allocation can be per Adult and Child or regardless teh type or passenger</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MinimumTickets">
				<xs:annotation>
					<xs:documentation>Minimum number of tickets required to buy in order to avail for this rate</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MaxAdvPurchase">
				<xs:annotation>
					<xs:documentation>Maximum niumber of days for buying in advance</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RateType"/>
			<xs:attribute name="CountReleased" type="xs:int">
				<xs:annotation>
					<xs:documentation>The amount booked for  the applicable rates element.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CountBooked" type="xs:int">
				<xs:annotation>
					<xs:documentation>The amount booked for  the applicable rates element.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LoyaltyIndicator" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Used to indicate if this element is associated with loyalty pricing</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LoyaltyPricingType">
				<xs:annotation>
					<xs:documentation>Used to indicate if the pricing information contained in this element can be used to calculate cash amounts, redemption amounts or a mix for loyalty.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RPH" type="xs:string">
				<xs:annotation>
					<xs:documentation>Rates RPH</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DescriptionContent"/>
			</xs:sequence>
			<xs:attribute name="InfoCode" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="en">type of description.( 1 is fixed and used for event name)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Language" type="xs:language" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DescriptionContent">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DestActivityDescriptions">
		<xs:annotation>
			<xs:documentation>Provides activity description (text or URL)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DestActivityDescription" type="TextDescriptionType" maxOccurs="unbounded"/>
				<xs:element name="Renovation" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Details of the eventl renovation.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Language" type="xs:language"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="Description" type="ParagraphType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>
											<xs:documentation xml:lang="en">
												<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
											</xs:documentation>
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Multimedia information about the renovation.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Descriptive text that describes the renovation.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Index" type="xs:int"/>
						<xs:attribute name="ImmediatePlans" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates that renovation is planned but dates are not finalized.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="PercentOfRenovationCompleted" type="Percentage" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Allows for a percent completion to be sent with each area being renovated.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attributeGroup ref="DateTimeSpanGroup">
							<xs:annotation>
								<xs:documentation xml:lang="en">Indicates the anticipated renovation time span.</xs:documentation>
							</xs:annotation>
						</xs:attributeGroup>
						<xs:attribute name="AreaText" type="StringLength1to64" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">Describes the specific area or areas of a hotel being renovated.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="RenovationCompletionDate" type="YearOrYearMonthType" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">The year or month and year the renovation was completed or is due to be completed.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DestActivityDescriptiveContentType">
		<xs:annotation>
			<xs:documentation>The DestActivityDescriptiveContentType class that describes  information about the Destination Activityl.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addresses" type="AddressesType">
				<xs:annotation>
					<xs:documentation>The address where the activity takes place/ Could be the starting point as well in case of tour or transfer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfos" type="ContactInfosType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides contact information. for the activity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Positions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides Geo code for activity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Position" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Position element contains three attributes, Latitude, Longitude, and Altitude, used to indicate the geographic location(s) requested by the search, expressed in notation specified by ISO standard 6709.  It is likely that only the first two attributes, Latitude and Longitude, would be needed to define a geographic area.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="PositionGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="DestActivityDescriptions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides activity description (text or URL)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Categories" type="EventCategoriesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides activity categories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="PTCs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides person types supported by the activity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaggageAllowance" type="CoreBagAllowanceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Amenities" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of activity amenities. For example: Weelchair access,....</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides Taxes applied for all events rates</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultimediaObjects" type="MultimediaObjectsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides multimedia objects (Images, Videos, Virtual tours...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelativePositions" type="RelativePositionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of directions to/from one or more locations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CombinationAllowed" type="combinationAllowedType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Different combination permitted for this activity: For example: Can be sold with Fligth, Hotel...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AvailabilityAllRates" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides Availability, allocations and rates</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extras" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of extras which are bookable with the selected activity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Extra" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Text" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="Language"/>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="OriginalCurrencyCode"/>
								<xs:attribute name="OriginalPrice"/>
								<xs:attribute name="Selected"/>
								<xs:attribute name="Prepaid"/>
								<xs:attribute name="CurrencyCode"/>
								<xs:attribute name="Code" use="required"/>
								<xs:attribute name="Name"/>
								<xs:attribute name="Start"/>
								<xs:attribute name="End"/>
								<xs:attribute name="Price"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TicketCategories" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of Ticket Categories which are bookable with the selected activity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TicketCategory" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Text" minOccurs="0" maxOccurs="unbounded">
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="xs:string">
																<xs:attribute name="Language"/>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Code" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplierSpecificInfos" type="SupplierSpecificInfosType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A collection of extras informations scecific to Activity supplier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Notifications" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Notification">
							<xs:complexType>
								<xs:attribute name="Code" use="required">
									<xs:annotation>
										<xs:documentation>Currently this can be either release, arrival, lowAllocation or booking.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Frequency">
									<xs:annotation>
										<xs:documentation>It can be weekly or daily</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentModel" type="PaymentModel" minOccurs="0"/>
			<xs:element name="BiasingInfos" type="BiasingInfos" minOccurs="0"/>
			<xs:element name="AssociatedProducts" type="AssociatedProductsType" minOccurs="0"/>
			<xs:element name="Policies" type="PoliciesType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Reference">
			<xs:annotation>
				<xs:documentation>Unique Reference for Activity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxNumEvents"/>
		<xs:attribute name="Duration">
			<xs:annotation>
				<xs:documentation>Activity duration</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DurationType" type="xs:string"/>
		<xs:attribute name="LocationType" type="xs:string"/>
		<xs:attribute name="WaitForApproval" type="xs:boolean"/>
		<xs:attribute name="Enabled" type="xs:boolean" use="required"/>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="required"/>
		<xs:attribute name="OriginalCurrencyCode" type="AlphaLength3" use="optional"/>
		<xs:attribute name="isInventoryPerPTCType" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicate if availability per person type or for the category.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isTaxIncluded" type="xs:boolean" use="required"/>
		<xs:attribute name="itemType" use="required">
			<xs:annotation>
				<xs:documentation>type of event:
0: Normal inventory event.
1: Inventory event without specific dates (like dsineyland tickets...).
2: Non-Inventory event without specific dates and without availability.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:enumeration value="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">0: Normal inventory event.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="1">
						<xs:annotation>
							<xs:documentation xml:lang="en">1: Inventory event without specific dates (like dsineyland tickets...).</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="2">
						<xs:annotation>
							<xs:documentation xml:lang="en">2: Non-Inventory event without specific dates and without availability.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Action" default="save">
			<xs:annotation>
				<xs:documentation>Action to preform: save, or delete the event</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="save"/>
					<xs:enumeration value="delete"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SupplierCode">
			<xs:annotation>
				<xs:documentation>Code which identifiies the supplier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SupplierEventCode">
			<xs:annotation>
				<xs:documentation>Supplier event code identifying the event in the supplier database</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isPricePerPerson" use="optional">
			<xs:annotation>
				<xs:documentation>Indicate if global price or price per person</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReasonCode">
			<xs:annotation>
				<xs:documentation>Code describing the event status</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DestActivityReferenceGroup"/>
		<xs:attribute name="SupplierExternal" type="xs:string">
			<xs:annotation>
				<xs:documentation>true if external supplier or false if local inventory</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeZone">
			<xs:annotation>
				<xs:documentation>The time zone on which the event is placed</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReferenceCode">
			<xs:annotation>
				<xs:documentation>An code used to reference this product</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventType" type="xs:string" default="standard">
			<xs:annotation>
				<xs:documentation>There are 3 types of events:
-"standard" This is default one.
-"physical" Means that the event is not sold directly but by means of logical events
-"logical" The event uses the inventory from a physical event.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PhysicalEventCode">
			<xs:annotation>
				<xs:documentation>If this is a logical event, then this attribute hold the code of the corresponding physical event code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Venue">
			<xs:annotation>
				<xs:documentation>The id of the venue if the event is related to one</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BookingOfficeCode" type="xs:string"/>
		<xs:attribute name="Deleted" type="xs:boolean"/>
		<xs:attribute name="InventoryAction" type="xs:string"/>
		<xs:attribute name="hasHotels" type="xs:boolean"/>
		<xs:attribute name="exclusive" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>DEPRECIATED - use Exclusive instead</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PTCType">
		<xs:annotation>
			<xs:documentation>Describes a passenger type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PassengerTypeQuantityType">
				<xs:attribute name="Name"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PTCs">
		<xs:annotation>
			<xs:documentation>All passenger types supported</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PTC" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PTCType">
								<xs:attribute name="AgeMinimum">
									<xs:annotation>
										<xs:documentation>Minumum age</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AgeMaximum">
									<xs:annotation>
										<xs:documentation>Maximum age</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MaxCapacity" type="xs:integer" use="optional">
									<xs:annotation>
										<xs:documentation>Provides the maximum number of person of this type allowed on the activity. Example: Maximum number of children allowed on a boat trip</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinCapacity" type="xs:integer" use="optional">
									<xs:annotation>
										<xs:documentation>Provides the minimum number of person of this type allowed on the activity. Example: Minimum number of adults allowed on a boat trip</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="isToBePriced">
									<xs:annotation>
										<xs:documentation>Indicates if AllRates element contains the price for this passenger type</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="isAllowed">
									<xs:annotation>
										<xs:documentation>Indicates if this passenger type is allowed for this activity. For example: No infant allowed on a speed boat trip.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="MinimumCapacity"/>
			<xs:attribute name="MaximumCapacity">
				<xs:annotation>
					<xs:documentation>Provides the global maximum number of person allowed on the activity. Example: Maximum number of passenger for a boat trip</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusApplicationControl">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StatusApplicationControlTimes" minOccurs="0"/>
				<xs:element ref="AllRates"/>
			</xs:sequence>
			<xs:attributeGroup ref="DOW_PatternGroup"/>
			<xs:attribute name="RPH" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusApplicationControlTime">
		<xs:annotation>
			<xs:documentation>Activity Time</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Time" type="xs:time" use="required">
				<xs:annotation>
					<xs:documentation>Start time of the Activity</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatusApplicationControlTimes">
		<xs:annotation>
			<xs:documentation>Activity Times</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StatusApplicationControlTime" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DestActivityDescriptiveContentsType">
		<xs:annotation>
			<xs:documentation>Describe an Activity: Categories,Desctription,images,....</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DestActivityDescriptiveContent" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="DestActivityDescriptiveContentType">
							<xs:sequence>
								<xs:element name="ExchangeRate" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Stores the exchange rate between vendor and supplier currencies</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="ExchangeRateGroup"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="ReportingExchangeRates" minOccurs="0">
									<xs:annotation>
										<xs:documentation>To store exchange rates for backoffice reporting tools, where the reporting tool demands a different currency from the supplier currency</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:attributeGroup ref="ExchangeRateGroup"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="OriginDestinationRPH" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>RPH attribute from OriginDestinationOption section from the associated flight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FlightSegmentRPH" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>RPH attribute from FlightSegment section from the associated flight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DateRangeType" type="DateRangeType"/>
	<xs:element name="RateRange">
		<xs:annotation>
			<xs:documentation>Rate Range</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="MinRate" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>Minimum rate</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MaxRate" type="xs:integer" use="required">
				<xs:annotation>
					<xs:documentation>Maximum rate</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PTCCode" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Passenger Type Code: Code indentifying passenger type.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RateRangesType">
		<xs:annotation>
			<xs:documentation>Rate Range type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="RateRange" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="required">
			<xs:annotation>
				<xs:documentation>Currency Code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DestActivityReadRequestType">
		<xs:sequence>
			<xs:element name="Verification" type="VerificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This is to be used for verification that the record being sent is the specific record requested.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">City name eg. Dublin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The booking reference for the reservation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Code">
			<xs:annotation>
				<xs:documentation>Event identifier code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventName">
			<xs:annotation>
				<xs:documentation>Event name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="DestActivityReferenceGroup">
		<xs:annotation>
			<xs:documentation>DestActivityReference: The activity reference identifies a specific activity by using the Code.  The code used are agreed upon by trading partners.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="StringLength1to255" use="optional">
			<xs:annotation>
				<xs:documentation>DestActivity Name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation>Code which identifies the activity</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventCodeContext" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation>A text field used to communicate the context (or source of - ex Sabre, Galileo, Worldspan, Amadeus) the DestActivityReferenceGroup codes.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventCityCode" type="StringLength1to8" use="optional">
			<xs:annotation>
				<xs:documentation>The IATA city code; for example DCA, ORD.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Exclusive" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Return events that are only sold exclusivly with associated hotels</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="SupplierSpecificInfosType">
		<xs:annotation>
			<xs:documentation>Extra information specific for each supplier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SupplierSpecificInfo" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VenueType">
		<xs:sequence>
			<xs:element name="ContactInfos" type="ContactInfosType">
				<xs:annotation>
					<xs:documentation>Provides contact information. for the activity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Positions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides Geo code for activity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Position" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The Position element contains three attributes, Latitude, Longitude, and Altitude, used to indicate the geographic location(s) requested by the search, expressed in notation specified by ISO standard 6709.  It is likely that only the first two attributes, Latitude and Longitude, would be needed to define a geographic area.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="PositionGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MultimediaObjects" type="MultimediaObjectsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provides multimedia objects (Images, Videos, Virtual tours...)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Name" use="required">
			<xs:annotation>
				<xs:documentation>The name of the venue</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Location" use="required">
			<xs:annotation>
				<xs:documentation>The location where the venue is</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Country" type="AlphaLength1to2" use="required">
			<xs:annotation>
				<xs:documentation>The ISO country code where the event takes place</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID">
			<xs:annotation>
				<xs:documentation>If this is empty a new ID will be generated and returned in the response</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PaymentModel">
		<xs:attribute name="Code" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>1: Commissionable and commission removed from cost
3: Commissionable and commission paid to the supplier and invoiced</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="DestActivityCodeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides activity item codes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ItemCode" type="StringLength1to32" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The supplier's code identifying this item.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConfirmedItemCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The confirm code returned by external system, which confirms the booked item.		</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
