spnr_xml/spnr_sdk/xsd/OJ_LoyaltyCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Piotr Walczyk (OpenJaw Technologies Polska Sp. z o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.007" id="OTA2006B">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OJ_Extensions.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PaymentLoyaltyType">
		<xs:sequence>
			<xs:element name="Earn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EarnType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Redeem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to describe how loyalty units might be redeemed, in terms of mixed cash and loyalty.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RedeemType">
							<xs:sequence>
								<xs:element name="SubRedeem" minOccurs="0">
									<xs:annotation>
										<xs:documentation>The totals of the SubRedeem add up the values stored in the parent redeem element. This is in order to aid the use of the loyalty slider </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="RedeemType">
												<xs:attribute name="AuditID" type="xs:integer">
													<xs:annotation>
														<xs:documentation>Used to record when the loyalty slider was used</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="CashRangeLowEnd" type="xs:float"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoyaltyPricingType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Combinations">
					<xs:annotation>
						<xs:documentation>Used to store the cash and miles pricing combinations</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Combination" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Used to store the price breakdown for the cash and miles values in a pricing combination. Also contains the earn amount for a combination</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Cash" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Stores the price breakdown of the cash part of a combination.  Multiple Cash elements are possible e.g. if you charge redemption rate taxes for cash.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
													<xs:element name="Formulas" type="FormulasType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Total" type="TotalType">
														<xs:annotation>
															<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="RateReference" type="xs:string">
													<xs:annotation>
														<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="PTCReference_List" type="xs:string">
													<xs:annotation>
														<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Redemption" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Stores the price breakdown of the redemption part of a combination</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
													<xs:element name="Total" type="TotalType" minOccurs="0">
														<xs:annotation>
															<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Redeem">
														<xs:annotation>
															<xs:documentation>Used to store the redemption total of the cash and miles combination. Also stores the rules that were used to generate the redemption quantity</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="RedeemType"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="RateReference" type="xs:string">
													<xs:annotation>
														<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="PTCReference_List" type="xs:string">
													<xs:annotation>
														<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Earn" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="EarnType"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PTCs" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Stores a number of per passenger type Cash, Redemption and Earn information</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="LoyaltyPTCType"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="LoyaltyDetails" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Details of the Loyalty Combinations</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="LoyaltyDetailsPricingType">
														<xs:sequence>
															<xs:element name="PricingParameters" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Used to store values that are needed when repricing this itinerary.</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="PricingParameter" maxOccurs="unbounded">
																			<xs:annotation>
																				<xs:documentation>A value required when repricing this itinerary </xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attribute name="Code" use="required">
																					<xs:annotation>
																						<xs:documentation>Code associated with this PricingParameter</xs:documentation>
																					</xs:annotation>
																				</xs:attribute>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="RPH" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Reference to uniquely identify a combination within it's parent </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Amount" type="xs:float" use="required">
										<xs:annotation>
											<xs:documentation>Total cash value of the cash component of the combination</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="IncludeTax" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Flag to indicate if taxes are included in the redemption conversion.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CurrencyCode" use="required">
										<xs:annotation>
											<xs:documentation>Currency code of the cash value of the combination</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="required">
										<xs:annotation>
											<xs:documentation>Total miles quantity of the redemption component of the combination</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="InsufficientBalance">
										<xs:annotation>
											<xs:documentation>Flag to indicate the miles quantity is greater than the available miles balance of the logged in member</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="BookingRateReference" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>This is used to refer to the rate that should be booked against for this combination as the cash and redemption values could be generated from two different rates but only one should be booked against</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Type" use="required">
										<xs:annotation>
											<xs:documentation>The type of price combination: POINTS, CASH or MIXED</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="POINTS"/>
												<xs:enumeration value="CASH"/>
												<xs:enumeration value="MIXED"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Sequence">
										<xs:annotation>
											<xs:documentation>This is the position in a sequence that this combination occurs</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Code">
										<xs:annotation>
											<xs:documentation>Combination code/id</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CheapestLoyalty">
										<xs:annotation>
											<xs:documentation>This is the cheapest Loyalty combination in the search results</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CheapestCash">
										<xs:annotation>
											<xs:documentation>This is the cheapest cash combination in the search results</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Percentage" type="xs:decimal" use="optional">
										<xs:annotation>
											<xs:documentation>This code represents the percentage of chosen cash and/or points combination that was chosen at booking time</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PercentageOf" type="PercentageOfString" use="optional">
										<xs:annotation>
											<xs:documentation>This code represents whether the percentage detailed above is of the cash or points portion of the cash and/or points combination that was chosen at booking time</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Earn" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="EarnType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="Redeem">
				<xs:annotation>
					<xs:documentation>Used to store the redemption total of the cash and miles combination. Also stores the rules that were used to generate the redemption quantity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RedeemType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoyaltyDetailsPricingType">
		<xs:sequence>
			<xs:element name="Combinations">
				<xs:annotation>
					<xs:documentation>Used to store the cash and miles pricing combinations</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Combination" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Used to store the price breakdown for the cash and miles values in a pricing combination. Also contains the earn amount for a combination</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Cash" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Stores the price breakdown of the cash part of a combination.  Multiple Cash elements are possible e.g. if you charge redemption rate taxes for cash.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
												<xs:element name="Formulas" type="FormulasType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Total" type="TotalType">
													<xs:annotation>
														<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="RateReference" type="xs:string">
												<xs:annotation>
													<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="PTCReference_List" type="xs:string">
												<xs:annotation>
													<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Redemption" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Stores the price breakdown of the redemption part of a combination</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
												<xs:element name="Formulas" type="FormulasType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Total" type="TotalType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Redeem" minOccurs="1" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Used to store the redemption total of the cash and miles combination. Also stores the rules that were used to generate the redemption quantity</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:complexContent>
															<xs:extension base="RedeemType">
																<xs:attribute name="LoyaltyLevel" type="xs:string" use="optional">
																	<xs:annotation>
																		<xs:documentation>The FFP tier of passenger, which the price applies to. the values can be: V(Platinum), G(Gold), S(Silver), F(Selected), C(Fortune Wings: normal), X(non-membership), etc.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:extension>
														</xs:complexContent>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="RateReference" type="xs:string">
												<xs:annotation>
													<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="PTCReference_List" type="xs:string">
												<xs:annotation>
													<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="Earn" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="EarnType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="PTCs" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Stores a number of per passenger type Cash, Redemption and Earn information</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="LoyaltyPTCType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="RPH" type="RPH_Type" use="required">
									<xs:annotation>
										<xs:documentation>Reference to uniquely identify a combination within it's parent </xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Amount" type="xs:float" use="required">
									<xs:annotation>
										<xs:documentation>Total cash value of the cash component of the combination</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="TaxAmount" type="xs:float">
									<xs:annotation>
										<xs:documentation>Total tax cash value of the Combination</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="CurrencyCode" use="required">
									<xs:annotation>
										<xs:documentation>Currency code of the cash value of the combination</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="required">
									<xs:annotation>
										<xs:documentation>Total miles quantity of the redemption component of the combination</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="InsufficientBalance">
									<xs:annotation>
										<xs:documentation>Flag to indicate the miles quantity is greater than the available miles balance of the logged in member</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="BookingRateReference" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation>This is used to refer to the rate that should be booked against for this combination as the cash and redemption values could be generated from two different rates but only one should be booked against.  If using PTC elements this attribute may not be populated as PTC elements also have a BookingRateReference.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="RateReferenceContext" use="optional">
									<xs:annotation>
										<xs:documentation>A processing indicator to illustrate if Combination elements are referencing outside of the parent Rate to other Rates or not. EXTERNAL means the Combination is referencing outside its parent Rate e.g. a MIXED combination referencing a CASH Rate when the Combination itself exists within a POINTS Rate. INTERNAL means all Rate references are to be resolved within the current parent Rate e.g. if using Per Passener Rates and all Per Pax Rates are within a single parent Rate.  BOTH is a combination of INTERNAL and EXTERNAL..</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="EXTERNAL"/>
											<xs:enumeration value="INTERNAL"/>
											<xs:enumeration value="BOTH"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="Type" use="required">
									<xs:annotation>
										<xs:documentation>The type of price combination: POINTS, CASH or MIXED</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="POINTS"/>
											<xs:enumeration value="CASH"/>
											<xs:enumeration value="MIXED"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="Sequence">
									<xs:annotation>
										<xs:documentation>This is the position in a sequence that this combination occurs</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Code">
									<xs:annotation>
										<xs:documentation>Combination code/id</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="CheapestLoyalty">
									<xs:annotation>
										<xs:documentation>This is the cheapest Loyalty combination in the search results</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="CheapestCash">
									<xs:annotation>
										<xs:documentation>This is the cheapest cash combination in the search results</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Percentage" type="xs:decimal" use="optional">
									<xs:annotation>
										<xs:documentation>This code represents the percentage of chosen cash and/or points combination that was chosen at booking time</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="PercentageOf" type="PercentageOfString" use="optional">
									<xs:annotation>
										<xs:documentation>This code represents whether the percentage detailed above is of the cash or points portion of the cash and/or points combination that was chosen at booking time</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="EarnQuantity" type="xs:nonNegativeInteger">
									<xs:annotation>
										<xs:documentation>Total earn miles quantity of the earn component of the combination</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="LoyaltyId" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation>LoyaltyId will reference a Loyalty element when individual pricing has been used to create a combination e.g per bound pricing for a flight this LoyaltyId would reference the loyalty pricing for each bound</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation>unique identifier for this element used for cross referece</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LoyaltyReference_List" type="IDList">
			<xs:annotation>
				<xs:documentation>cross reference other Loyalty/@ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoyaltyProductType">
		<xs:sequence>
			<xs:element name="Redemption">
				<xs:annotation>
					<xs:documentation>Stores the price breakdown of the redemption part of a combination</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
						<xs:element name="Total" type="TotalType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Redeem">
							<xs:annotation>
								<xs:documentation>Used to store the redemption total of the cash and miles combination. Also stores the rules that were used to generate the redemption quantity</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RedeemType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="RateReference">
						<xs:annotation>
							<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PTCReference_List" type="xs:string">
						<xs:annotation>
							<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Earn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="EarnType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PTCs" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Stores a number of per passenger type Cash, Redemption and Earn information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="LoyaltyPTCType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CombinationCode">
			<xs:annotation>
				<xs:documentation>This code represents the chosen cash and/or points combination that was chosen at booking time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percentage" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>This code represents the percentage of chosen cash and/or points combination that was chosen at booking time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PercentageOf" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>This code represents whether the percentage detailed above is of the cash or points portion of the cash and/or points combination that was chosen at booking time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IncludeTax" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Flag to indicate if taxes are included in the redemption conversion.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="PercentageOfString">
		<xs:restriction base="xs:string">
			<xs:pattern value="CASH|POINTS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LoyaltyBaseType">
		<xs:sequence>
			<xs:element name="Rule" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="LoyaltyRuleType">
							<xs:sequence>
								<xs:element name="Info" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Stores supplemental information on the rule i.e. Precent, Rate, Rounding Step, Cost per Mile</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="StringLength0to128">
												<xs:attribute name="Code" type="xs:string" use="optional">
													<xs:annotation>
														<xs:documentation>Any code associated with this item</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Partner" type="LoyaltyPartnerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Partner info.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="LoyaltyBaseAttributes"/>
	</xs:complexType>
	<xs:complexType name="LoyaltyPTCType">
		<xs:sequence>
			<xs:element name="PTC" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Per passenger type Cash, Redemption and Earn information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Cash" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Stores the price breakdown of the cash part of a combination.  Multiple Cash elements are possible e.g. if you charge redemption rate taxes for cash.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PriceAdjustments"
										type="exPriceAdjustmentsType" minOccurs="0"/>
									<xs:element name="Formulas" type="FormulasType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Total" type="TotalType">
										<xs:annotation>
											<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="RateReference" type="xs:string">
									<xs:annotation>
										<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Redemption" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Stores the price breakdown of the redemption part of a combination</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PriceAdjustments"
										type="exPriceAdjustmentsType" minOccurs="0"/>
									<xs:element name="Formulas" type="FormulasType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Total" type="TotalType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">The cash price total of the cash and miles combination.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Redeem">
										<xs:annotation>
											<xs:documentation>Used to store the redemption total of the cash and miles combination. Also stores the rules that were used to generate the redemption quantity</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="RedeemType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="RateReference" type="xs:string">
									<xs:annotation>
										<xs:documentation>Used to store the ID of the source rate used to calculate this breakdown</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:element name="Earn" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="EarnType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="RPH" type="RPH_Type" use="required">
						<xs:annotation>
							<xs:documentation>A unique Id for this PTC element</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Code" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Passenger Type Code</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Count" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>The number of passengers with this Passenger Type Code that have this as their Cash/Redemption/Earn breakdown.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Amount" type="xs:float" use="required">
						<xs:annotation>
							<xs:documentation>Total cash value of the cash component of the PTC</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="CurrencyCode" use="required">
						<xs:annotation>
							<xs:documentation>Currency code of the cash value of the PTC</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="required">
						<xs:annotation>
							<xs:documentation>Total points quantity of the redemption component of the PTC</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="EarnQuantity" type="xs:nonNegativeInteger">
						<xs:annotation>
							<xs:documentation>Total earn miles quantity of the earn component of the PTC</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="BookingRateReference" type="xs:string">
						<xs:annotation>
							<xs:documentation>This is used to refer to the rate that should be booked for this PTC combination as the cash and redemption values could be generated from two different rates but only one should be booked against</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FormulasType">
		<xs:annotation>
			<xs:documentation>Represents a number of Formula elements that show how a cash value is generated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Formula" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Represents a formula or equation showing how a cash value was calculated.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FormulaType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="FormulaType">
		<xs:annotation>
			<xs:documentation>Represents a formula or equation showing how a cash value was calculated.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Info" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Stores supplemental information on the formula</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength0to128">
							<xs:attribute name="Code" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation>Any code associated with this item</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="CodeContext" type="xs:string">
								<xs:annotation>
									<xs:documentation>A context for the associated code</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="IDRef" type="xs:IDREF">
								<xs:annotation>
									<xs:documentation>Refers to a unique response element</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Code" type="xs:string">
			<xs:annotation>
				<xs:documentation>A code for the formula or equation showing how a cash value was calculated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="xs:string">
			<xs:annotation>
				<xs:documentation>A context for the associated code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
		<xs:attribute name="Quantity" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Represents points quantity that is the equivalent of the cash amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EarnType">
		<xs:annotation>
			<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LoyaltyBaseType">
				<xs:attributeGroup ref="EarnAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RedeemType">
		<xs:annotation>
			<xs:documentation>Used to describe how loyalty units might be redeemed, in terms of mixed cash and loyalty.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LoyaltyBaseType">
				<xs:attributeGroup ref="RedeemAttributes"/>
				<xs:attribute name="Modular" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PackageLoyaltyPricingType">
		<xs:annotation>
			<xs:documentation>This should only be used for the Room, Flights and Vehicle elements that make up a package in order to store the deltas</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Earn" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to describe how loyalty units might be earned</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PackageEarnType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Redeem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to describe how loyalty units might be redeemed, in terms of mixed cash and loyalty.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PackageRedeemType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageLoyaltyBaseType">
		<xs:sequence>
			<xs:element name="Rule" type="LoyaltyRuleType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="PackageLoyaltyBaseAttributes"/>
	</xs:complexType>
	<xs:complexType name="PackageEarnType">
		<xs:annotation>
			<xs:documentation>Used to describe how loyalty units might be earned for a component in a package</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="EarnType">
				<xs:attributeGroup ref="PackageEarnAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PackageRedeemType">
		<xs:annotation>
			<xs:documentation>Used to describe how loyalty units might be redeemed, in terms of mixed cash and loyalty.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RedeemType">
				<xs:attributeGroup ref="PackageRedeemAttributes"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="LoyaltyBaseAttributes">
		<xs:annotation>
			<xs:documentation source="Loyalty Attributes."/>
		</xs:annotation>
		<xs:attribute name="Quantity" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of loyalty units</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FlightSegmentRefNumber" type="RPH_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Use for loyalty pay bind with FlightSegment RPH.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="OJ_SuperPNR_RPH"/>
		<xs:attribute name="AmountRedeemed" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of  cash units represented by the loyalty units specified in Quantity attribute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="RedeemAttributes">
		<xs:annotation>
			<xs:documentation xml:lang="en">Can be used to describe a cash loyalty mix</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Amount" type="xs:float" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of cash units in a cash loyalty mix</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="EarnAttributes">
		<xs:attribute name="ExpiryDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date these points would expire</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ValidFromDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>The date these points would be valid from</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>An identifer to link this Earn/Accrual with the loyalty system </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PTCReference_List" type="xs:string">
			<xs:annotation>
				<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PackageLoyaltyBaseAttributes">
		<xs:annotation>
			<xs:documentation source="Commom Loyalty Attributes for a package component"/>
		</xs:annotation>
		<xs:attribute name="QuantityChange" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of loyalty units that will be changed if this package component is chosen compared to the currently selected one</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PackageEarnAttributes">
		<xs:attributeGroup ref="PackageLoyaltyBaseAttributes"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PackageRedeemAttributes">
		<xs:attributeGroup ref="PackageLoyaltyBaseAttributes"/>
		<xs:attribute name="AmountChange" type="xs:float" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of cash units in a cash loyalty mix that will be changed if this package component is chosen compared to the currently selected one</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QuantityAdjusted" type="xs:integer" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="LoyaltyRuleType">
		<xs:annotation>
			<xs:documentation>Element to describe how loyalty points where calculated</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="LoyaltyRuleAttributes"/>
		<xs:attribute name="OriginalQuantity">
			<xs:annotation>
				<xs:documentation>This attribute is used to store the pre-rounding quantity of the rule adjustment</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PTCReference_List">
			<xs:annotation>
				<xs:documentation>Used to store a list of PTC reference IDs of the source used to calculate this breakdown</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Percent">
			<xs:annotation>
				<xs:documentation>This is the percentage value of the original quantity that this rule adjustment represents</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The passenger type code for this fare.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PassengerTypeQuantity" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The number of passengers</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="QuantityPerPassenger" type="xs:double" use="optional">
			<xs:annotation>
				<xs:documentation>The number of passengers</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="LoyaltyRuleAttributes">
		<xs:attribute name="Name" type="xs:string">
			<xs:annotation>
				<xs:documentation>Optional element to describe the rule applied</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="xs:string">
			<xs:annotation>
				<xs:documentation>Optional element to describe the rule applied</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rate" type="xs:float">
			<xs:annotation>
				<xs:documentation>Optional element to describe cash/miles rate, if applicable</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IncludeTax" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Attribute to indicate if tax is included in the redemption points price or must be paid in cash</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Sequence">
			<xs:annotation>
				<xs:documentation>Defines the order in which a rule was applied in a pipeline</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>A description or name of the item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Any code associated with this item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The context of the code eg the vendor name, or the supplier name, or name of some standard list of codes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Quantity" type="xs:double" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of loyalty units</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Stage" type="xs:string"/>
		<xs:attribute name="Manual" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Indicates if this rule is a manual one added by an agent, rather than an automatic one applied by the rules. 

During repricing all automatic price adjustments will be removed and recalculated, but manual ones will be retained.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Date" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The date when this rule was added</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AuditID" type="exAuditID">
			<xs:annotation>
				<xs:documentation>Audit ID for this price adjustment</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Exclusivity">
			<xs:annotation>
				<xs:documentation>Attribute to store the exclusivity value that this Rule has if added during a pricing pipeline</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ANY"/>
					<xs:enumeration value="ONCE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Group">
			<xs:annotation>
				<xs:documentation>Attribute that stores the group the Rule is contained within. This is used as part of resolving exclusivity of Rules added as part of business rules</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Enabled">
			<xs:annotation>
				<xs:documentation>Indicates if this Rule is enabled or not</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CPP" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>the cost per point converstion rate for this rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rounding" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>the rounding interval used for this rule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PassengerRPH" type="RPH_Type">
			<xs:annotation>
				<xs:documentation>link price rule node with passenger</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="AccrualType">
		<xs:annotation>
			<xs:documentation>Element to descibe an accrual stored in the database</xs:documentation>
		</xs:annotation>
		<xs:attribute name="AccrualID" type="xs:string"/>
		<xs:attribute name="ValidFromDate" type="xs:date">
			<xs:annotation>
				<xs:documentation>The date from which this accrual will be valid from. i.e. Accruals are usually valid after the date of travel of the component.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExpiryDate" type="xs:date"/>
		<xs:attribute name="TransactionDate" type="xs:dateTime"/>
		<xs:attribute name="PointsAwarded" type="xs:integer"/>
		<xs:attribute name="PointsRemaining" type="xs:integer"/>
		<xs:attribute name="SPNRID" type="xs:string"/>
		<xs:attribute name="MasterProductNumber" type="xs:string"/>
		<xs:attribute name="ProductNumber" type="xs:string"/>
		<xs:attribute name="Description" type="xs:string"/>
		<xs:attribute name="TransactionStatus" type="xs:string"/>
		<xs:attribute name="TransactionType" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type of Transaction CREDIT allows you to earn points, DEBIT allows you to cancel an accrual</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RedemptionType">
		<xs:annotation>
			<xs:documentation>Element to descibe a redemption record stored in the database</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Accruals">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Accrual" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="AccrualType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="AvailablePoints" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Transactions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Transaction" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RedemptionTransactionType">
										<xs:sequence>
											<xs:element name="RedeemedProduct" minOccurs="0">
												<xs:complexType>
													<xs:attribute name="Origin" type="xs:string" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Origin location of the flight</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Destination" type="xs:string" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Destination location of the flight</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ProductType" type="xs:string">
														<xs:annotation>
															<xs:documentation xml:lang="en">The product type which applied this redemption.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="Carrier" type="xs:string">
														<xs:annotation>
															<xs:documentation xml:lang="en">This is the carrier code of the  airline who is running the flight that the redeem transction applied.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attributeGroup ref="OJ_SuperPNR_RPH"/>
													<xs:attributeGroup ref="FlightNumberGroup"/>
													<xs:attribute name="DepartureDateTime" type="xs:dateTime" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The date and time of the flight segment departure.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="RedemptionID" type="xs:string"/>
		<xs:attribute name="TransactionDate" type="xs:dateTime"/>
		<xs:attribute name="Points" type="xs:integer"/>
		<xs:attribute name="SPNRID" type="xs:string"/>
		<xs:attribute name="TransactionType" type="xs:string"/>
		<xs:attribute name="Description" type="xs:string"/>
		<xs:attribute name="TransactionStatus" type="xs:string"/>
		<xs:attribute name="Type">
			<xs:annotation>
				<xs:documentation>The type of redemption payment: POINTS, MILES</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="POINTS"/>
					<xs:enumeration value="MILES"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RedemptionConfirmationID" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Confirmation number for the points redemption in the loyalty system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TransactionToken" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Token returned as part of a loyalty redemption authorization process and will be used in further process, like unlocking, deduction confirming, etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LoyaltyTransactionsType">
		<xs:sequence maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="Accrual" type="AccrualType" minOccurs="0"/>
				<xs:element name="Redemption" type="RedemptionType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="CustomerID" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="RedemptionTransactionType">
		<xs:attribute name="RedemptionID" type="xs:string"/>
		<xs:attribute name="AccrualID" type="xs:string"/>
		<xs:attribute name="TransactionType" type="xs:string"/>
		<xs:attribute name="Quantity" type="xs:integer"/>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
		<xs:attribute name="Amount" type="xs:integer">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of cash units represented by the loyalty units specified in Quantity attribute.</xs:documentation>
			</xs:annotation>		
		</xs:attribute>
		<xs:attribute name="ExpiryDate" type="xs:date"/>
	</xs:complexType>
	<xs:complexType name="LoyaltyPaymentType">
		<xs:annotation>
			<xs:documentation>Loyalty element for the SPNR payments for any redemption payments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Redeem">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RedeemType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IDList">
		<xs:annotation>
			<xs:documentation>List of positive integers</xs:documentation>
		</xs:annotation>
		<xs:list itemType="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:complexType name="LoyaltyPartnerType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Partner information for ancillary products.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="FreeTextType"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The unique ID of this partner.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
