spnr_xml/spnr_sdk/xsd/OJ_Notification.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:simpleType name="Status">
		<xs:restriction base="AlphaLength1">
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation>Registered for delivery ASAP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>Delivery is currently in progress</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>The delivery failed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Notification sent successfully</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>Wait until the delivery is requested</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Delay delivery until DeliveryAfterTime</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NotificationType">
		<xs:sequence minOccurs="0">
			<xs:element name="Data" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:string" use="required"/>
		<xs:attribute name="Product" type="xs:string" use="optional"/>
		<xs:attribute name="Recipient" type="xs:string" use="optional"/>
		<xs:attribute name="Type" type="xs:string" use="optional"/>
		<xs:attribute name="RegistrationTime" type="xs:dateTime" use="optional"/>
		<xs:attribute name="StatusCode" type="Status" use="optional"/>
		<xs:attribute name="Code"/>
		<xs:attribute name="Entity" type="xs:string"/>
		<xs:attribute name="Reference" type="xs:string"/>
		<xs:attribute name="DeliveryAfterTime" type="xs:dateTime"/>
		<xs:attribute name="MessageType"/>
		<xs:attribute name="Comments"/>
		<xs:attribute name="MaxSend" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="NotificationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to define specific hotel information such as the type, location and architectural style.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Notification" type="NotificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
