spnr_xml/spnr_sdk/xsd/OJ_PromotionCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Lorcan O'Toole (Openjaw Technologies Ltd.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelContentDescription.xsd"/>
	<xs:include schemaLocation="OJ_DeepLink.xsd"/>
	<xs:include schemaLocation="OJ_Promotion_Search_Hotel.xsd"/>
	<xs:include schemaLocation="OJ_Promotion_Search_Flight.xsd"/>
	<xs:include schemaLocation="OJ_Promotion_Search_Vehicle.xsd"/>
	<xs:include schemaLocation="OJ_DestActivityCommonTypes.xsd"/>
	<xs:complexType name="PromotionProfilesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for promotion profiles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PromotionProfiles" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Container for promotions. Defines the criteria used to define a promotion</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PromotionProfileType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromotionProfileType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for promotions. Defines the criteria used to define a promotion</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="Channels" minOccurs="0"/>
			<xs:element ref="Status">
				<xs:annotation>
					<xs:documentation xml:lang="en">The status of xPromotion. eg. deleted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Search"/>
			<xs:element ref="Groups"/>
			<xs:element ref="Tags"/>
			<xs:element ref="SearchCriteria"/>
			<xs:element ref="TripProfiles">
				<xs:annotation>
					<xs:documentation>Trip Profile matched to flight search request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Content"/>
			<xs:element name="FromPrices" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The set of cheapest prices that satisfies the xPromotion Promotion Profile.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FromPrice"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Impression" type="ImpressionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" use="required">
			<xs:annotation>
				<xs:documentation>The Id identifying this promotion profile uniquely.  There may be multiple Promotions that satisfy a Promotion profile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" use="required">
			<xs:annotation>
				<xs:documentation>The current status of this promotion profile - see enumerations list.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="enabled"/>
					<xs:enumeration value="disabled"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Reference name for the promotion profile.  This does not have to reflect the display name which can be configured by language.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TimeStamp">
			<xs:annotation>
				<xs:documentation>The time stamp of the last update to this promotion profile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Priority" type="xs:unsignedInt" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The priority to to be given to this promotion.  Higher priorites ranked highest.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AccessLevel">
			<xs:annotation>
				<xs:documentation>The level of access retrieve this promotion profile - see enumeration.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="AlphaNumericStringLength1to14">
					<xs:enumeration value="public"/>
					<xs:enumeration value="private"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Product">
			<xs:annotation>
				<xs:documentation>Product type code reflecting the product type that this promotion applies to - see enumerations list</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="AlphaNumericStringLength1to8">
					<xs:enumeration value="H"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="V"/>
					<xs:enumeration value="E"/>
					<xs:enumeration value="HF"/>
					<xs:enumeration value="HFV"/>
					<xs:enumeration value="HV"/>
					<xs:enumeration value="VF"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Language">
			<xs:annotation>
				<xs:documentation>Defines the requesting language for this promotion </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PromotionsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for promotions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Promotion" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Promotion with minimum pricing information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PromotionType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromotionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Promotion with pricing information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="a">
				<xs:complexType>
					<xs:attribute name="href" type="xs:anyURI" use="required"/>
					<xs:attribute name="onclick" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="FromPrices" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The set of cheapest prices that satisfies the xPromotion Promotion Profile.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="FromPrice"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Images" type="ImagesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Set of images that represent this promotion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Descriptions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">List of descriptions per language.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PromotionDescriptionType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Search" type="SearchType">
				<xs:annotation>
					<xs:documentation>The container for all of the search details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Impression" type="ImpressionType" minOccurs="0"/>
			<xs:element ref="SearchResponse" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Status">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Enabled"/>
					<xs:enumeration value="Disabled"/>
					<xs:enumeration value="Template"/>
					<xs:enumeration value="Archived"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" type="xs:string" use="required"/>
		<xs:attribute name="Priority">
			<xs:annotation>
				<xs:documentation>The priority to to be given to this promotion.  Higher priorites ranked highest.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The Id identifying this specific promotion uniquely.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ImagesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Set of images that represent this promotion.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Image" type="ImageType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">An image that represent this promotion.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Set of images that represent this promotion.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Alt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A text alternative to the image.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Language" type="xs:language" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="src" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">The url and filename of the image.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PromotionDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Description of the promotion.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Short" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A short description of the promotion.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Long" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A full long description of the promotion.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Language" type="xs:language" use="required"/>
					<xs:attribute name="Type" use="required">
						<xs:annotation>
							<xs:documentation>What type of content this text describes.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="promotion"/>
								<xs:enumeration value="area"/>
								<xs:enumeration value="title"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FromPrice">
		<xs:annotation>
			<xs:documentation>The cheapest price of any promotion that satisfies this Promotion Profile.  If left empty in a create promotion profile, this will be updated when the cache gets set. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FromPrice" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup"/>
					<xs:attribute name="Id" type="xs:string">
						<xs:annotation>
							<xs:documentation>Reference to the full Promotion details that this FromPrice is for</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpressionType">
		<xs:annotation>
			<xs:documentation>This is used as a temporary storage node for impression related details that are stored in the reporting DB.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Session" type="SessionType"/>
			<xs:element name="Context" type="ContextType"/>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
		<xs:attribute name="Position" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Where in the listing did this this impression occur.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionProfileId" type="xs:string" use="required"/>
		<xs:attribute name="TripProfileId" type="xs:string" use="required"/>
		<xs:attribute name="PromotionId" type="xs:string" use="required"/>
		<xs:attribute name="Id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The Id identifying this promotion profile uniquely.  There may be multiple Promotions that satisfy a Promotion profile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConversionType">
		<xs:annotation>
			<xs:documentation>This is used as a temporary storage node for booking conversion related details that are stored in the reporting DB.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CoreProduct">
				<xs:annotation>
					<xs:documentation>The cost associated with the core product of this superpnr.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="SPNR">
				<xs:annotation>
					<xs:documentation>The overall cost associated with this superpnr.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PrimaryDestination" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The primary destination of this super pnr.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="xPromotionType">
		<xs:annotation>
			<xs:documentation>This is used to store xPromotion related information in messages and the SPNR.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Session" type="SessionType"/>
			<xs:element name="Impression" type="ImpressionType"/>
			<xs:element name="Search">
				<xs:annotation>
					<xs:documentation>The information on a particular search that came from an impression.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Top">
							<xs:annotation>
								<xs:documentation xml:lang="en">The price of the top/first option shown to the user.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Cheapest">
							<xs:annotation>
								<xs:documentation xml:lang="en">The price of the cheapest option shown to the user.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="CurrencyAmountGroup"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Type" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>The type of search this was.  Either a visit (externally led) or a click (internally led)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Conversion" type="ConversionType"/>
		</xs:sequence>
		<xs:attribute name="PromotionProfileId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The Promotion Profile Id of the associated promotion.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TripProfileId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The Trip Profile Id of the associated promotion.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The Promotion Id of the associated promotion.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ImpressionId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The id of the impression associated with this search or booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SearchId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The id of the search associated with this booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionProfileSessionId">
			<xs:annotation>
				<xs:documentation>The Promotion Profile Id of the associated promotion of the current session.  May not be the same as the PromotionProfileId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TripProfileSessionId">
			<xs:annotation>
				<xs:documentation>The Trip Profile Id of the associated promotion in the current session.  May not be the same as the TripProfileId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PromotionSessionId">
			<xs:annotation>
				<xs:documentation>The Promotion Id of the associated promotion of the current session.  May not be the same as the PromotionId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ImpressionSessionId">
			<xs:annotation>
				<xs:documentation>The id of the impression associated with this search of booking within the current session.  May not be the same as the ImpressionId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SearchSessionId">
			<xs:annotation>
				<xs:documentation>The id of the search associated with this booking in the session.  This may not be the same as the SearchId</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SortType" type="xs:string">
			<xs:annotation>
				<xs:documentation>Sorts the search results returned for a promotion profile</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Channels">
		<xs:annotation>
			<xs:documentation>The distribution channels available to this xPromotion Promotion Profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Channel" type="ChannelType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Promotion profile containing satisfying the search criteria.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SessionType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" use="required">
			<xs:annotation>
				<xs:documentation>The Id that identifies an individual browser session.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConversationId">
			<xs:annotation>
				<xs:documentation>The Id that identifies an individual browser conversation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ContextType">
		<xs:annotation>
			<xs:documentation>This is used to store information on where the promotion profile was displayed.  Used for reporting. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="Display" type="xs:boolean" use="required"/>
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="Level" type="xs:string" use="required"/>
		<xs:attribute name="Number" type="xs:string" use="required"/>
		<xs:attribute name="Page" type="xs:string" use="required"/>
		<xs:attribute name="Sequence" type="xs:string" use="required"/>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="AlphaNumericStringLength1to8">
					<xs:enumeration value="all"/>
					<xs:enumeration value="email"/>
					<xs:enumeration value="web"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ChannelType">
		<xs:attribute name="index" use="required">
			<xs:annotation>
				<xs:documentation>The index that identified the Channel Type eg. B2C</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="AlphaNumericStringLength1to8">
					<xs:enumeration value="all"/>
					<xs:enumeration value="email"/>
					<xs:enumeration value="web"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Tags">
		<xs:annotation>
			<xs:documentation>Reference tags for external system with content for this xPromotion Promotion Profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Tag" type="TagType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TagType">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:attribute name="index" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:enumeration value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Group">
		<xs:annotation>
			<xs:documentation> </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Group">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="Product">
		<xs:annotation>
			<xs:documentation>Product type code reflecting the product type that this promotion applies to - see enumerations list</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="AlphaNumericStringLength1to8">
				<xs:enumeration value="H"/>
				<xs:enumeration value="F"/>
				<xs:enumeration value="V"/>
				<xs:enumeration value="E"/>
				<xs:enumeration value="HF"/>
				<xs:enumeration value="HFV"/>
				<xs:enumeration value="HV"/>
				<xs:enumeration value="VF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="Status">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Comments">
					<xs:annotation>
						<xs:documentation>Describe the Status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Reason">
					<xs:annotation>
						<xs:documentation>Describe the reason why modified the status</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Reason">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Comments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Comment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Comment" type="xs:string"/>
	<xs:element name="Groups">
		<xs:annotation>
			<xs:documentation>Groups of distribution that will be allowed for this  xPromotion Promotion Profile.  Ids of promotion groups that this promotion belongs to xPromotion Promotion Profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Group"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Group">
		<xs:complexType>
			<xs:attribute name="index" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Content">
		<xs:annotation>
			<xs:documentation>Holder for the descriptive content for this profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Descriptions"/>
				<xs:element name="MultimediaObjects" type="MultimediaObjectsType">
				<xs:annotation>
					<xs:documentation>Provides multimedia objects (Images, Videos, Virtual tours...)</xs:documentation>
				</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Descriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="DescriptionType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DescriptionType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Long"/>
			</xs:sequence>
			<xs:attribute name="index" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="area"/>
						<xs:enumeration value="promotion"/>
						<xs:enumeration value="title"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Long" type="xs:string"/>
	<xs:element name="TripProfiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TripProfile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TripProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StayDateRange"/>
				<xs:element ref="Search"/>
				<xs:element name="Promotions" type="PromotionsType"/>
				<xs:element name="FromPrices" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">The set of cheapest prices that satisfies the xPromotion Promotion Profile.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="FromPrice"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Impression" type="ImpressionType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="index" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Status" use="required">
				<xs:annotation>
					<xs:documentation>Trip Profile Status</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="enabled"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:enumeration value="225"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Action" type="xs:string"/>
			<xs:attribute name="Priority" type="xs:string">
				<xs:annotation>
					<xs:documentation>Indicates the priority that the promotion cache entries associated with this trip profile should be updated by the automated scheduled process</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Text">
		<xs:complexType>
			<xs:attribute name="Language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StayDateRange">
		<xs:annotation>
			<xs:documentation>The set of stay date ranges that this xPromotion profile is enabled or disabled for.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOW" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Start_display">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="21 Jun 2010"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Start" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2010-06-21"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="End_display">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="31 Oct 2010"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="End" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2010-10-31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Duration">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOW">
		<xs:complexType>
			<xs:attribute name="Weds" type="xs:boolean" use="required"/>
			<xs:attribute name="Tue" type="xs:boolean" use="required"/>
			<xs:attribute name="Thur" type="xs:boolean" use="required"/>
			<xs:attribute name="Sun" type="xs:boolean" use="required"/>
			<xs:attribute name="Sat" type="xs:boolean" use="required"/>
			<xs:attribute name="Mon" type="xs:boolean" use="required"/>
			<xs:attribute name="Fri" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchResponse">
		<xs:annotation>
			<xs:documentation>The full details of the best match/cheapest search response for a promotion</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Package" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Accomodation" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Room" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Price" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Original">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Pricing">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceAdjustments" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PriceAdjustment" minOccurs="0" maxOccurs="unbounded"/>
																					</xs:sequence>
																					<xs:attributeGroup ref="CurrencyAmountGroup"/>
																					<xs:attribute name="Adjusted" type="xs:float" use="optional"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																		<xs:attribute name="AdjustedAmount" type="Money"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Selling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																		<xs:attribute name="AdjustedAmount" type="Money"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Modular">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Original">
																				<xs:complexType>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Pricing">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																					</xs:sequence>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																					<xs:attribute name="AdjustedAmount" type="Money"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Selling">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																					</xs:sequence>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																					<xs:attribute name="AdjustedAmount" type="Money"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PriceAdjustments" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceAdjustment" type="exPriceAdjustmentType" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>A charge or discount applied to the product</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attributeGroup ref="CurrencyAmountGroup"/>
															<xs:attribute name="Adjusted" type="xs:float" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="Loyalty" type="LoyaltyPricingType" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation xml:lang="en">The amount of Loyalty Points that the customer can earn or spend in relation to this product</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="RoomStay" minOccurs="0">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="RoomStayType">
																	<xs:attribute name="Reference" type="xs:positiveInteger" use="optional">
																		<xs:annotation>
																			<xs:documentation>Required for OJDP. Reference to an Accomodation componant in a package</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="RedemptionChange"/>
												<xs:attribute name="EarnChange"/>
												<xs:attribute name="RoomIndex"/>
												<xs:attribute name="Reference"/>
												<xs:attribute name="RoomTypeCode"/>
												<xs:attribute name="RatePlanCode"/>
												<xs:attribute name="Amount" type="Money" use="required"/>
												<xs:attribute name="Adjusted"/>
												<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional"/>
												<xs:attribute name="Selected"/>
												<xs:attribute name="AmountChange"/>
												<xs:attribute name="RangeNum" type="xs:string" use="optional"/>
												<xs:attribute name="CheckinDate" type="xs:date"/>
												<xs:attribute name="CheckoutDate" type="xs:date"/>
												<xs:attribute name="Display" type="xs:boolean" default="false"/>
												<xs:attribute name="OriginalCurrencyCode" use="optional"/>
												<xs:attribute name="Rate" type="xs:float" use="optional"/>
												<xs:attribute name="CombineAndSaveAmount" type="xs:float" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ChainCode" type="StringLength0to8" use="required"/>
									<xs:attribute name="HotelCode" type="StringLength1to64" use="required"/>
									<xs:attribute name="Reference" type="xs:string" use="optional"/>
									<xs:attribute name="Selected"/>
									<xs:attribute name="StarRating"/>
									<xs:attribute name="ApartmentInd"/>
									<xs:attribute name="SupplierCode"/>
									<xs:attribute name="HotelCityCode"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Vehicles" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Vehicle" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Price" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Original">
																	<xs:complexType>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Pricing">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																		<xs:attribute name="AdjustedAmount" type="Money"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Selling">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="Amount" type="Money"/>
																		<xs:attribute name="CurrencyCode"/>
																		<xs:attribute name="AdjustedAmount" type="Money"/>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Modular">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Original">
																				<xs:complexType>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Pricing">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																					</xs:sequence>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																					<xs:attribute name="AdjustedAmount" type="Money"/>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Selling">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
																					</xs:sequence>
																					<xs:attribute name="Amount" type="Money"/>
																					<xs:attribute name="CurrencyCode"/>
																					<xs:attribute name="AdjustedAmount" type="Money"/>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PriceAdjustments" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
															</xs:sequence>
															<xs:attributeGroup ref="CurrencyAmountGroup"/>
															<xs:attribute name="Adjusted" type="xs:float" use="optional"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="VehAvail" minOccurs="0" maxOccurs="99">
														<xs:annotation>
															<xs:documentation>Availability and rate information for one specific vehicle.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="VehAvailCore">
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="VehicleAvailCoreType"/>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Vendor" type="CompanyNameType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Information on the vendor associated with this availability of vehicles</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="VehRentalCore" type="VehicleRentalCoreType">
																	<xs:annotation>
																		<xs:documentation>Information that is common,  or core, to all requests and responses associated with the reservation of a vehicle.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="VehAvailInfo" type="VehicleAvailAdditionalInfoType" minOccurs="0"/>
															</xs:sequence>
															<xs:attribute name="Reference" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="RedemptionChange"/>
												<xs:attribute name="EarnChange"/>
												<xs:attribute name="Category" type="OTA_CodeType" use="optional"/>
												<xs:attribute name="Size" type="OTA_CodeType" use="optional"/>
												<xs:attribute name="Reference" type="xs:string" use="required"/>
												<xs:attribute name="Amount" type="Money" use="required"/>
												<xs:attribute name="Adjusted"/>
												<xs:attribute name="CurrencyCode" type="AlphaLength3" use="optional"/>
												<xs:attribute name="Selected"/>
												<xs:attribute name="AmountChange"/>
												<xs:attribute name="PickUpDate" type="DateOrDateTimeType"/>
												<xs:attribute name="ReturnDate" type="DateOrDateTimeType"/>
												<xs:attribute name="ID" type="xs:string"/>
												<xs:attribute name="Display" type="xs:boolean" default="false"/>
												<xs:attribute name="VendorCode"/>
												<xs:attribute name="LocationCode"/>
												<xs:attribute name="Num24HourPeriods" type="xs:positiveInteger"/>
												<xs:attribute name="RangeNum" type="xs:float"/>
												<xs:attribute name="CombineAndSaveAmount" type="xs:float" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="VendorCode" type="xs:string"/>
									<xs:attribute name="Reference" type="xs:string"/>
									<xs:attribute name="Selected" type="xs:boolean"/>
									<xs:attribute name="Class"/>
									<xs:attribute name="Nights"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Flights" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Price" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Modular">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
															</xs:sequence>
															<xs:attribute name="Amount"/>
															<xs:attribute name="CurrencyCode"/>
															<xs:attribute name="AdjustedAmount"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
										<xs:element name="Loyalty" type="LoyaltyPricingType" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">The amount of Loyalty Points that the customer can earn or spend in relation to this product</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="PricedItinerary" minOccurs="0">
											<xs:annotation>
												<xs:documentation xml:lang="en"> Itinerary with pricing information.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="PricedItineraryType">
														<xs:sequence>
															<xs:element name="ExchangeRate" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Stores the exchange rate between vendor and supplier currencies</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:attributeGroup ref="ExchangeRateGroup"/>
																</xs:complexType>
															</xs:element>
															<xs:element name="ReportingExchangeRates" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>To store exchange rates for backoffice reporting tools, where the reporting tool demands a different currency from the supplier currency</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:attributeGroup ref="ExchangeRateGroup"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="OutboundSegmentReference" use="optional"/>
														<xs:attribute name="InboundSegmentReference" use="optional"/>
														<xs:attribute name="SupplierCode" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. Needs to know the xDist supplier</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Airline" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation>Describes the Airline which owns all flightSegments in this PricedItinerary. Set to "MIX" if this PricedItinerary contains flightSegments from different Airlines. </xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="CheckinDate" type="xs:date" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. The check in date that a hotel search should use with this flight</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="CheckoutDate" type="xs:date" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. The check out date that a hotel search should use with this flight</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Reference" type="xs:positiveInteger" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. Reference to a package Flight componant</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="Num24HourPeriods" type="xs:positiveInteger" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. The number of 24 hour periods for car rental</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="PickUpDate" type="xs:date" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. The pick up date that a car search should use with this flight</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="ReturnDate" type="xs:date" use="optional">
															<xs:annotation>
																<xs:documentation>Required for OJDP. The return date that a car search should use with this flight</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="VehicleRangeNum" type="xs:float" use="optional"/>
														<xs:attribute name="Start">
															<xs:annotation>
																<xs:documentation>Required for OJDP.  The departure datetime of the 1st flight in the itin.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="End">
															<xs:annotation>
																<xs:documentation>Required for OJDP.  The arrival datetime of the last flight in the itin.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="RedemptionChange"/>
									<xs:attribute name="EarnChange"/>
									<xs:attribute name="Reference" type="xs:string" use="required"/>
									<xs:attribute name="Amount" type="Money" use="required"/>
									<xs:attribute name="Currency" type="AlphaLength3" use="required"/>
									<xs:attribute name="Adjusted"/>
									<xs:attribute name="OriginDestinationRPH" type="xs:string" use="optional"/>
									<xs:attribute name="Selected"/>
									<xs:attribute name="AmountChange"/>
									<xs:attribute name="CheckinDate" type="xs:date" use="optional"/>
									<xs:attribute name="CheckoutDate" type="xs:date" use="optional"/>
									<xs:attribute name="PickUpDate" type="xs:date"/>
									<xs:attribute name="ReturnDate"/>
									<xs:attribute name="Start">
										<xs:annotation>
											<xs:documentation>Required for OJDP.  The departure datetime of the 1st flight in the itin.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="End">
										<xs:annotation>
											<xs:documentation>Required for OJDP.  The arrival datetime of the last flight in the itin.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CombineAndSaveAmount" type="xs:float" use="optional"/>
									<xs:attribute name="DepartureAirport"/>
									<xs:attribute name="CabinClass"/>
									<xs:attribute name="ResBookDesigCode" type="UpperCaseAlphaLength1to2" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specific Booking Class for this segment.	</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="PickUpLocation"/>
									<xs:attribute name="SupplierCode" type="StringLength0to8"/>
									<xs:attribute name="Num24HourPeriods" type="StringLength0to8" use="optional"/>
									<xs:attribute name="OriginalCurrency" type="StringLength0to8" use="optional"/>
									<xs:attribute name="Rate" type="xs:float" use="optional"/>
									<xs:attribute name="VehicleRangeNum"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Extras" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Extra" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
													<xs:element name="DestActivityDescriptiveContent" minOccurs="0">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="DestActivityDescriptiveContentType">
																	<xs:sequence>
																		<xs:element name="ExchangeRate" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>Stores the exchange rate between vendor and supplier currencies</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attributeGroup ref="ExchangeRateGroup"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="ReportingExchangeRates" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>To store exchange rates for backoffice reporting tools, where the reporting tool demands a different currency from the supplier currency</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:attributeGroup ref="ExchangeRateGroup"/>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Amount"/>
												<xs:attribute name="CurrencyCode"/>
												<xs:attribute name="Type"/>
												<xs:attribute name="Reference"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Price" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Modular">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
												</xs:sequence>
												<xs:attribute name="Amount"/>
												<xs:attribute name="CurrencyCode"/>
												<xs:attribute name="AdjustedAmount"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PriceAdjustments" type="exPriceAdjustmentsType" minOccurs="0"/>
							<xs:element name="Loyalty" type="LoyaltyPricingType" minOccurs="0"/>
						</xs:sequence>
						<xs:attribute name="Amount" type="Money" use="required"/>
						<xs:attribute name="CurrencyCode" type="AlphaLength3" use="required"/>
						<xs:attribute name="Reference" type="xs:string" use="required"/>
						<xs:attribute name="Type"/>
						<xs:attribute name="selected" type="xs:boolean"/>
						<xs:attribute name="RangeNum" type="xs:string" use="optional"/>
						<xs:attribute name="CombineAndSaveAmount"/>
						<xs:attribute name="AdjustedAmount"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="PricedItineraries" type="PricedItinerariesType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Successfull Low Fare priced itineraries in response to a Low Fare Search request.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RoomStays" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RoomStay" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="RoomStayType">
											<xs:attribute name="Reference" type="xs:positiveInteger" use="optional">
												<xs:annotation>
													<xs:documentation>Required for OJDP. Reference to an Accomodation componant in a package</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="MoreIndicator" type="StringLength1to32">
							<xs:annotation>
								<xs:documentation xml:lang="en">A text field used to indicate that there are additional rates that could not be fit within the availability response.  The text returned should be meaningful in identifying where to begin the next block of data and sent in the availability request.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="VehAvails" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A collection of vehicles along with their availability and associated rate information.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VehAvail" maxOccurs="99">
								<xs:annotation>
									<xs:documentation>Availability and rate information for one specific vehicle.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VehAvailCore">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="VehicleAvailCoreType"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="Vendor" type="CompanyNameType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information on the vendor associated with this availability of vehicles</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VehRentalCore" type="VehicleRentalCoreType">
											<xs:annotation>
												<xs:documentation>Information that is common,  or core, to all requests and responses associated with the reservation of a vehicle.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="VehAvailInfo" type="VehicleAvailAdditionalInfoType" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="Reference" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DestActivityDescriptiveContents" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DestActivityDescriptiveContent" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="DestActivityDescriptiveContentType">
											<xs:sequence>
												<xs:element name="ExchangeRate" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Stores the exchange rate between vendor and supplier currencies</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attributeGroup ref="ExchangeRateGroup"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="ReportingExchangeRates" minOccurs="0">
													<xs:annotation>
														<xs:documentation>To store exchange rates for backoffice reporting tools, where the reporting tool demands a different currency from the supplier currency</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:attributeGroup ref="ExchangeRateGroup"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Search">
		<xs:annotation>
			<xs:documentation xml:lang="en">Search node contains defferent search information. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="SearchType">
					<xs:annotation>
						<xs:documentation xml:lang="en">Search type for promotion. eg. H stands for hotel.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:sequence>
					<xs:element ref="Passengers">
						<xs:annotation>
							<xs:documentation xml:lang="en">Passenger information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="OriginDestinationInformation">
						<xs:annotation>
							<xs:documentation xml:lang="en">Container for all of the search criteria related to location.  Used for all product types except vehicle only.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="HotelInformation"/>
					<xs:element ref="VehicleInformation"/>
					<xs:element ref="FlightInformation"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="H"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Passengers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Passenger" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Passenger">
		<xs:complexType>
			<xs:attribute name="index" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Quantity" use="required">
				<xs:annotation>
					<xs:documentation>Number of passengers</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Code" use="required">
				<xs:annotation>
					<xs:documentation>Passenger Code. This value can only be ADT, CHD or  INF. ADT stands for Adult. CHD stands for Children. INF stands for Infant.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ADT"/>
						<xs:enumeration value="CHD"/>
						<xs:enumeration value="INF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OriginDestinationInformation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Location">
					<xs:annotation>
						<xs:documentation>The location information which include orgin and destination information.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Origin">
		<xs:complexType mixed="true">
			<xs:attribute name="Exclusive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>This indicates whether a search for this origin should be exclusive or not.  If true a promotion profile will only be returned if they only have trip profile origin destination options that match the origin</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="index" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Destination">
		<xs:complexType mixed="true">
			<xs:attribute name="Exclusive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>This indicates whether a search for this destination should be exclusive or not.  If true a promotion profile will only be returned if they only have trip profile origin destination options that match the destination</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="index" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Location">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="Destination">
					<xs:annotation>
						<xs:documentation>Destination information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Origin">
					<xs:annotation>
						<xs:documentation>Origin information</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="index">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchCriteria">
		<xs:annotation>
			<xs:documentation>The container for the subset of search details that represent this promotion profile.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Restrictions">
					<xs:annotation>
						<xs:documentation>Search Restriction.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PointsOfSale">
					<xs:annotation>
						<xs:documentation>The points of sale associated with this Landing page.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Dates">
					<xs:annotation>
						<xs:documentation>Date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="OriginDestinationInformation">
					<xs:annotation>
						<xs:documentation>Container for all of the search criteria related to location.  Used for all product types except vehicle only.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Restrictions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Search"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PointsOfSale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PointOfSale"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PointOfSale">
		<xs:complexType>
			<xs:attribute name="Code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Context">
		<xs:annotation>
			<xs:documentation>Information on where the promotion is being displayed, used for reporting.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ID" use="required">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Type" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates the context where the response is displayed. e.g. web, email, banner</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="web"/>
						<xs:enumeration value="email"/>
						<xs:enumeration value="banner"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Level" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates whether the response display is at PromotionProfile, TripProfile or Promotion level.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PromotionProfile"/>
						<xs:enumeration value="TripProfile"/>
						<xs:enumeration value="Promotion"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Sequence" use="optional">
				<xs:annotation>
					<xs:documentation>Sequence Id of the point on the page where the response is to be displayed.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Page" use="optional">
				<xs:annotation>
					<xs:documentation>Id of the page where the response is to be displayed.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Display" use="required">
				<xs:annotation>
					<xs:documentation>Indicates whether the response is to be displayed to customers or not.  If its not then the other attributes are not required.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Number" use="optional">
				<xs:annotation>
					<xs:documentation>Indicates how many responses are to be displayed.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Session">
		<xs:annotation>
			<xs:documentation>Information on the session that the promotion is being displayed in.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ID" use="required">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SalesDateRange">
					<xs:annotation>
						<xs:documentation>Container for sales date associated with this Landing page.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="StayDateRange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SalesDateRange">
		<xs:complexType>
			<xs:attribute name="Start_display" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Start" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="End_display" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="End" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DestActivityDescriptiveContents" type="DestActivityDescriptiveContentsType"/>
	<xs:element name="SearchResponses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SearchResponse" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
