spnr_xml/spnr_sdk/xsd/OTA_HotelContentDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Krzysztof Ulman (OpenJaw Technologies Polska Sp. z o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified" version="4.001" id="OTA2003A2006B">
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_HotelPreferences.xsd"/>
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirPreferences.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AreaInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines well-known locations and attractions of local interest in the geographical area of the hotel facility as well as other area hotels.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefPoints" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of reference points.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RefPointsType">
							<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The date and time when RefPoints was last updated. </xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Attractions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Attraction objects identifying the local interest attractions in the vicinity of this hotel facility.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attraction" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">This identifies an item of local interest (e.g. theme park, airport, museum, rail station, university).</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Contact" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Used to pass contact information of a specific attraction.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="ContactInfoType">
													<xs:attributeGroup ref="RemovalGroup"/>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="OperationSchedules" type="OperationSchedulesPlusChargeType" minOccurs="0"/>
									<!--
										<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
											<xs:annotation>
												<xs:documentation xml:lang="en">
													<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										-->
									<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Multimedia information about the attraction.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RefPoints" type="RefPointsType" minOccurs="0"/>
									<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descriptive text that describes the attraction.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="AttractionCategoryCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The code for the type of attraction in the proximity of the hotel facility. Refer to OTA Code List Attraction Category Code (ACC).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="CodeInfoGroup"/>
								<xs:attribute name="AttractionName" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The name of the local attraction. </xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AttractionFee" type="xs:float" use="optional"/>
								<xs:attribute name="CourtesyPhone" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This signifies whether or not a courtesy phone for contacting the hotel is available at the attraction (e.g. often times these are availabe in airports). When true, the phone is available.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="DateTimeSpanGroup"/>
								<xs:attributeGroup ref="CodeListGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">The CodeContext attribute allows for a reference to the external code table used as the source for the code. The Code is available to send code information for an attraction (e.g. if the attraction is an airport, the actual airport code may be included).</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="ProximityCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Denotes whether a service is onsite, offsite or information is not available. Refer to OTA Code Table Proximity (PRX).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ID_OptionalGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">This may be used to uniquely identify an attraction.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="Sort" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used to define the display order.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The date and time when Attractions was last updated. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Recreations" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of Recreation objects identifying the different types of recreation facilities available to the guest.  </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Recreation" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A recreation facility available to the guest.  These may or may not be operated by the hotel or located at the hotel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Contact" type="ContactInfoType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Used to pass contact information of a specific recreation facility.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OperationSchedules" type="OperationSchedulesPlusChargeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of days, times, and fees.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RefPoints" type="RefPointsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Identifies where the recreation facility is located.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<!--
										<xs:element name="Description" minOccurs="0" maxOccurs="5">
											<xs:annotation>
												<xs:documentation xml:lang="en">Describes the recreation facility.</xs:documentation>
												<xs:documentation xml:lang="en">
													<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="MultimediaObjectType">
														<xs:attribute name="Location" type="xs:boolean" use="optional" default="false">
															<xs:annotation>
																<xs:documentation xml:lang="en">An indicator for whether this is a location description. </xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="RefDirectionTo" type="xs:boolean" use="optional" default="true">
															<xs:annotation>
																<xs:documentation xml:lang="en">An indicator for whether this is a description TO the location (default value of TRUE is TO  the location, else FROM). </xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										-->
									<xs:element name="MultimediaDescriptions" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Multimedia information about the recreation facility.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="MultimediaDescriptionsType">
													<xs:attribute name="Location" type="xs:boolean" use="optional" default="false">
														<xs:annotation>
															<xs:documentation xml:lang="en">An indicator for whether this is a location description. </xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="RefDirectionTo" type="xs:boolean" use="optional" default="true">
														<xs:annotation>
															<xs:documentation xml:lang="en">An indicator for whether this is a description TO the location (default value of TRUE is TO  the location, else FROM). </xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="RecreationDetails" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">A collection of recreation details.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="RecreationDetail" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">RecreationDetail is used to give furher desciption regarding the recreation. These codes are passed in the code attribute and include details such as if a golf course has a driving range and what the total yardage for the course is.</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Description" type="ParagraphType" minOccurs="0" maxOccurs="5">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Used to pass further description regarding the info  code.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="Code" type="OTA_CodeType" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Refer to OTA Code List Recreation Srvc Detail Code (REC).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="SupplierServiceCode" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Supplier supplied code for service.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with Code.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attributeGroup ref="CodeInfoGroup">
															<xs:annotation>
																<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item. If the code being passed is for golf couse total yardage, code detail may be used to pass the actual yardage.								</xs:documentation>
															</xs:annotation>
														</xs:attributeGroup>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descriptive text that describes the recreation facility.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attributeGroup ref="CodeInfoGroup"/>
								<xs:attribute name="Code" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Recreation Srvc Type (RST).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Name" type="StringLength0to64" use="optional"/>
								<xs:attribute name="ProximityCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Denotes whether a recreation is onsite, offsite or information is not available. Refer to OTA Code Table Proximity (PRX).
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Included" type="xs:boolean" use="optional"/>
								<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with Code.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ID_OptionalGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">This may be used to uniquely identify a recreational facility.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="Sort" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used to define the display order.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The date and time when Recreations was last updated. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="OtherHotels" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of other area hotels.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OtherHotel" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides information on other area hotels.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactInfos" type="ContactInfosType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides general property information for another hotel.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RefPoints" type="RefPointsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Provides information on the location of the other hotel.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="CompetitorIndicator" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">When true, indicates this hotel is a competitor. When false, this hotel is not a competitor.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SegmentCategoryCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identifies the segment (e.g., luxury, upscale, extended stay) of the other hotel.  Refer to OTA Codelist SEG.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="HotelReferenceGroup"/>
								<xs:attribute name="ID" type="StringLength1to32" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">An ID as created by the source system (e.g. when passing competitor information, this would be the ID stored in the competitor's system).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AlternateID" type="StringLength1to32" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">An ID as created by the non-source system (e.g. when passing competitor information, this would be the ID stored in the local company's system).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">The date and time when OtherHotels was last updated. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfoRootType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The ContactInfo class is used to define the contacts for consumers and technical people at the hotel facility, including various telephone numbers and e-mail addresses, or any respective attribute or affiliation for the hotel.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ContactInfoType">
				<xs:attributeGroup ref="RemovalGroup"/>
				<xs:attribute name="ContactProfileID" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">This is a profile identifier for the contact, the type may be defined by the ContactProfileType.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="ContactProfileType" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">This defines what type of ContactProfileID is being provided (e.g. IATA, chain specific, etc.)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
					<xs:annotation>
						<xs:documentation xml:lang="en">The date and time when the contact information for this hotel was last updated. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactInfosType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of ContactInfo elements that provides detailed contact information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfo" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to define specific contact information such as phone and address.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContactInfoRootType">
							<xs:attribute name="Code" type="xs:int" use="required"/>
							<xs:attribute name="PreferredMethod" type="xs:string"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An extension of ParagraphType.  It is used to pass description information when reference to or from a location may be needed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ParagraphType">
				<xs:attribute name="Location" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation xml:lang="en">An indicator for whether this is a location description. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="RefDirectionTo" type="xs:boolean" use="optional" default="true">
					<xs:annotation>
						<xs:documentation xml:lang="en">An indicator for whether this is a description TO the location (default value of TRUE is TO  the location, else FROM). </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TimeSlots">
		<xs:sequence>
			<xs:element name="TimeSlot" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="From" type="xs:time" use="required"/>
					<xs:attribute name="To" type="xs:time" use="required"/>
					<xs:attribute name="Mandatory" type="xs:boolean" default="false"/>
					<xs:attribute name="Charge" type="xs:boolean" default="true">
						<xs:annotation>
							<xs:documentation>Determines whether this timeslot is to be charged.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The FacilityInfo class that describes the facilities provided at the hotel, including meeting rooms restaurants.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeetingRooms" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of meeting rooms that are comprised within the hotel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MeetingRoomsType">
							<xs:sequence>
								<xs:element name="Codes" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Code" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Charge" type="FeeType" minOccurs="0">
															<xs:annotation>
																<xs:documentation xml:lang="en">The minimum charge for this meeting room code.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<!--
															<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
																<xs:annotation>
																	<xs:documentation>
																		<xs:documentation xml:lang="en">
																			<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
																		</xs:documentation>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															-->
														<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0"/>
													</xs:sequence>
													<xs:attribute name="Code" type="OTA_CodeType" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">This is used to define items that may be available for any of the meeting rooms. Refer to OTA Code List Meeting Room Code (MRC).</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with Code.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attributeGroup ref="CodeInfoGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.</xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
													<xs:attributeGroup ref="QuantityGroup"/>
													<xs:attribute name="DiscountsAvailableCode" type="OTA_CodeType" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">This is used for discounts that apply to meetings (eg. corporate, military). Refer to OTA Code List Discounts Available (DIS).</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="PricingGroups" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="PricingGroup" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Periods" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Period" minOccurs="0" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="ID" type="xs:int"/>
																			<xs:attribute name="From" type="xs:dateTime" use="required"/>
																			<xs:attribute name="To" type="xs:dateTime" use="required"/>
																			<xs:attribute name="Reconfigurable" type="xs:boolean" default="false"/>
																			<xs:attribute name="Locked" type="xs:boolean" default="false"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="TimeSlots" type="TimeSlots" minOccurs="0"/>
														<xs:element name="TimeSlotRates" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="TimeSlotRate" minOccurs="0">
																		<xs:complexType>
																			<xs:attribute name="MinPartySize" use="required"/>
																			<xs:attribute name="MaxPartySize" use="required"/>
																			<xs:attribute name="RequiredRate" type="xs:float" use="required"/>
																			<xs:attribute name="ExtraHourRate" type="xs:float"/>
																			<xs:attribute name="Layout" type="xs:int"/>
																			<xs:attribute name="PricePerPerson" type="xs:float"/>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Rooms" minOccurs="0">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="Room" minOccurs="0" maxOccurs="unbounded">
																					<xs:complexType>
																						<xs:attribute name="Code" use="required"/>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="DayRates" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="DayRate" minOccurs="0" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="RoomCode" use="required"/>
																			<xs:attribute name="Rate" type="xs:float" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="PeriodRates" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="PeriodRate" minOccurs="0" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:attribute name="RoomCode" use="required"/>
																			<xs:attribute name="Rate" type="xs:float" use="required"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="SpecificRoomTimeslotConfigs" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="SpecificRoomTimeslotConfig" minOccurs="0" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="TimeSlots" type="TimeSlots" minOccurs="0"/>
																			</xs:sequence>
																			<xs:attribute name="RoomCode" use="required"/>
																			<xs:attribute name="Rate" use="required"/>
																			<xs:attribute name="RatePerPerson"/>
																			<xs:attribute name="ExtraHourRate"/>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="Name" use="required"/>
													<xs:attribute name="ID"/>
													<xs:attribute name="CurrencyCode" type="AlphaLength3" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="GuestRooms" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of guest room types that are comprised within the hotel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="GuestRoom" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">The accommodation occupied by a guest.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TypeRoom" minOccurs="0" maxOccurs="5">
										<xs:annotation>
											<xs:documentation xml:lang="en">Describes the guest room type; in composite types there can be multiple occurrences.  </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="StandardNumBeds" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Indicates the usual number of beds for this room type.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="StandardOccupancy" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Indicates the usual number of guests that occupy this room.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="MaxRollaways" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Maximum number of rollaway beds allowed in a room type.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Size" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Number of square units (feet or meters) that defines the size of a room type.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="TypeImplied" type="xs:string" use="optional"/>
											<xs:attribute name="Count" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Number of rooms of this room type that makes up a larger unit (composite) such as a two bedroom suite could be comprised of two king rooms plus other room types.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="Name" type="StringLength1to32" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Text name of the type of room such as "Two Bedroom Villas".</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attributeGroup ref="RoomGroup">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to define a room (eg., its location, configuration, view).</xs:documentation>
												</xs:annotation>
											</xs:attributeGroup>
											<xs:attribute name="MaxCribs" type="xs:nonNegativeInteger" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Maximum number of cribs allowed in a room type.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="MinNumOfAdults" use="optional">
												<xs:simpleType>
													<xs:restriction base="xs:int">
														<xs:minInclusive value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="AdultsOnly" type="xs:boolean" use="optional"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="DayRoom" minOccurs="0">
										<xs:complexType>
											<xs:attribute name="DayRoomArrivalTime"/>
											<xs:attribute name="DayRoomDepartureTime"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="Amenities" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of room amenity items available to the guest.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="Amenity" maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation xml:lang="en">Tangible room item(s) (e.g., newspaper) available to the guest. </xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="OperationSchedules" type="OperationSchedulesPlusChargeType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Collection of days, times, and fees.</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ContactInfo" type="ContactInfoRootType" minOccurs="0" maxOccurs="5">
																<xs:annotation>
																	<xs:documentation xml:lang="en">Used to include additional information regarding the amenity (e.g. the provider of the service).</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:choice>
																<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
																	<xs:annotation>
																		<xs:documentation xml:lang="en">This will allow for text descriptions to be sent with items such as kitchenette.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Multimedia information about the amenity.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:choice>
															<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>Descriptive text that describes the amenity.</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="RoomAmenityCode" type="OTA_CodeType" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">Refer to OTA Code List Room Amenity Type (RMA).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="IncludedInRateIndicator" type="xs:boolean" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">When true, this indicates that the amenity or service is included in the room rate (i.e., this service or amenity has no additional charge).</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
															<xs:annotation>
																<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to the OTA Code List Option Type Code (OTC). This is used in conjunction with RoomAmenityCode.</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attributeGroup ref="CodeInfoGroup">
															<xs:annotation>
																<xs:documentation xml:lang="en">May be used to give further detail on the code (e.g. if bathroom amenities is selected additional information about what amenities are available in the guest room can be passed here) or to remove an obsolete item.					</xs:documentation>
															</xs:annotation>
														</xs:attributeGroup>
														<xs:attributeGroup ref="QuantityGroup"/>
														<xs:attribute name="AmenityCode" type="xs:int" use="required"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Features" type="FeaturesType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of features offered by a hotel.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<!--
										<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
											<xs:annotation>
												<xs:documentation>Multimedia information about the guest room.</xs:documentation>
												<xs:documentation xml:lang="en">
													<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										-->
									<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Multimedia information about the guest room.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descriptive text that describes the guest room.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="AltRoomTypeNames" minOccurs="0"/>
									<xs:element name="Description" type="MultimediaDescriptionsType" minOccurs="0"/>
									<xs:element name="ShortDescription" type="MultimediaDescriptionsType" minOccurs="0"/>
								</xs:sequence>
								<xs:attributeGroup ref="CodeListGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">The hotel specific room type code that does not reference the OTA_Code Table as there are numerous hotel room types that are chain specific.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="RoomTypeName" type="StringLength1to32" use="optional"/>
								<xs:attribute name="Composite" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Indicates that the room type contains multiple rooms sold as a single unit.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Quality" type="StringLength1to8" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Indicates the quality of the room within a hotel such as an "S1K" as a superior room with one king bed. </xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MaxOccupancy" type="xs:positiveInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Maximum number of guests allowed in a room type.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MaxAdultOccupancy" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Maximum number of adults allowed in a room type.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="NonsmokingQuantity" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This attribute is used to designate the number of non-smoking rooms by room type.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="ID_OptionalGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">This may be used to uniquely identify a guest room.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="MaxChildOccupancy" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Maximum number of children allowed in a room type.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Sort" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used to define the display order.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="MaxOccupancy" type="xs:nonNegativeInteger" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Maximum number of guests the hotel can accommodate at one time.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Restaurants" type="RestaurantsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of restaurants offered by hotel.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date and time when this hotel information was last updated in the system. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HotelDescriptiveContentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The HotelDescriptiveContent element contains the descriptive information about a hotel property.</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="DestinationSystemsCode" type="DestinationSystemCodesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of destination systems codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HotelInfo" type="HotelInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Contains descriptive information about a hotel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityInfo" type="FacilityInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides information pertaining to the hotel facitilty itself.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Policies" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of policy information as it applies to the hotel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PoliciesType">
							<xs:attribute name="GuaranteeRoomTypeViaGDS" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">If true, indicates that room types can be guaranteed on reservations booked through GDS channels.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="GuaranteeRoomTypeViaCRC" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">If true, indicates that room types can be guaranteed on reservations booked by central reservation centers.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="GuaranteeRoomTypeViaProperty" type="xs:boolean" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">If true, indicates that room types can be guaranteed on reservations booked by the property.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AreaInfo" type="AreaInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides information on area attractions, recreations and reference points.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AffiliationInfo" type="AffiliationInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides information regarding affiliations, loyalty programs and award ratings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="MultimediaObjects" type="MultimediaObjectsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">A collection of multimedia objects.</xs:documentation>
						<xs:documentation xml:lang="en">
							<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Multimedia information about a collection of multimedia objects.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="ContactInfos" type="ContactInfosType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides contact information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="TPA_Extensions" minOccurs="0"/>
			<xs:element name="GDS_Info" type="GDS_InfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">This allows for information for GDS's to be specified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Viewerships" type="ViewershipsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection for viewerships.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectivePeriods" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of effective periods.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EffectivePeriod" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">The period for which content is visible. This may be either specific times of year that repeat annually or actual dates.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="DatePeriodGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used to define a period of time using either actual dates or a day and month. May be used to define a period of time that occurs annually.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaxConfigurations" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element ref="TaxConfiguration"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BiasingInfos" type="BiasingInfos" minOccurs="0"/>
			<xs:element name="GroupPriorities" type="GroupPriorities" minOccurs="0"/>
			<xs:element name="RatePlans" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="RatePlan" type="RatePlanType" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="OJHotelCode" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssociatedProducts" type="AssociatedProductsType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="CurrencyCodeGroup"/>
		<xs:attribute name="LanguageCode" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identification of the requested language to be used for the hotel descriptive information. ISO standard for human-readable languages.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="UnitsOfMeasureGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">UnitOfMeasureGroup should not have been used here. The only attribute needed is UnitOfMeasure. Our intent is to remove UnitOfMeasureQuantity in a future release.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="TimeZone" type="StringLength1to64" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Describes the local time zone in which the hotel is located. This could include additional information regarding time zones (e.g., Daylight Saving Time observed), a proprietary code, the difference between the local time and GMT. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeSpanGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to define the lifespan of the hotel content.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="DistanceUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation>Provides the unit of measure in which distance is provided in this message. Refer to OTA Code List Unit of Measure (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AreaUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure in which area is provided in this message. Refer to OTA Code List Unit of Measure (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="WeightUnitOfMeasureCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Provides the unit of measure in which weight is provided in this message. Refer to OTA Code List Unit of Measure (UOM).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeStampGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The timestamp of the hotel content is created or changed.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="HotelInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The HotelInfo class that describes general information about the hotel.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HotelName" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">The full name of the hotel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="HotelShortName" type="StringLength1to64" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">Concise hotel name</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClosedSeasons" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">A collection of date and time periods when the hotel facility is closed. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClosedSeason" type="DateTimeSpanType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A date and time period when a hotel facility is closed.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RelativePositions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of directions to/from one or more locations.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RelativePosition" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Where the hotel is in relation to/from a location.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="RelativePositionType">
										<xs:attribute name="Code" type="xs:string"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CategoryCodes" type="CategoryCodesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of descriptive details about a hotel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Descriptions" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of hotel and/or renovation information.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Renovation" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Details of the hotel renovation.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Text" minOccurs="0">
										<xs:complexType>
											<xs:attribute name="Language" type="xs:language"/>
										</xs:complexType>
									</xs:element>
									<xs:choice>
										<xs:element name="Description" type="ParagraphType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													<xs:documentation xml:lang="en">
														<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
													</xs:documentation>
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Multimedia information about the renovation.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descriptive text that describes the renovation.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="ImmediatePlans" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Indicates that renovation is planned but dates are not finalized.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="PercentOfRenovationCompleted" type="Percentage" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Allows for a percent completion to be sent with each area being renovated.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="DateTimeSpanGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">Indicates the anticipated renovation time span.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="AreaText" type="StringLength1to64" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Describes the specific area or areas of a hotel being renovated.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="RenovationCompletionDate" type="YearOrYearMonthType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">The year or month and year the renovation was completed or is due to be completed.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Index">
									<xs:annotation>
										<xs:documentation>The position that the renovation is inserted. Populated automatically every time a new renovation is created. Required for deletion position.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
						<xs:choice>
							<xs:element name="Description" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Contains information about the hotel.</xs:documentation>
									<xs:documentation xml:lang="en">
										<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="MultimediaObjectType">
											<xs:attribute name="InfoCode" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to designate a particular type of description such as marketing. Refer to OTA Code List Information Type (INF).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="AdditionalDetailCode" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to designate a particular type of additional information. Refer to OTA Code List Additional Detail Type (ADT).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="MultimediaDescriptions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Multimedia information about the hotel.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="MultimediaDescriptionsType">
											<xs:attribute name="InfoCode" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to designate a particular type of description such as marketing. Refer to OTA Code List Information Type (INF).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="AdditionalDetailCode" type="OTA_CodeType" use="optional">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to designate a particular type of additional information. Refer to OTA Code List Additional Detail Type (ADT).</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Descriptive text that describes the hotel.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HotelInfoCodes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HotelInfoCode" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Contains code information about the hotel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Code" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Hotel Information Code (HIC). Maybe used in conjunction with the OptionCode. Code examples are 51% minority owned and 51% non-minority woman owned.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="CodeInfoGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item. 
								</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attributeGroup ref="QuantityGroup"/>
								<xs:attribute name="OptionCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Option Type Code (OTC) (e.g., yes, no, not applicable, not available). </xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Position" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Describes the geocoded location of the hotel.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="PositionGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Services" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of hotel services and/or amenities available to the guest.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Service" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">A hotel service or amenity available to the guest such as a business center, concierge, valet parking, massage, newspapers, etc.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Contact" type="ContactInfoType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Contact information pertaining to a service.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RelativePosition" type="RelativePositionType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Directions to the service provider.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="OperationSchedules" type="OperationSchedulesPlusChargeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of days, times, and fees.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:choice>
										<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="5">
											<xs:annotation>
												<xs:documentation xml:lang="en">Additional descriptive information regarding the service. </xs:documentation>
												<xs:documentation xml:lang="en">
													<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Multimedia information about the service.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:element name="Features" type="FeaturesType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="en">Collection of features offered by a hotel.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Descriptive text that describes the service.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Included" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This may be used to identify a standard service included in the room rate.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Code" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Hotel Amenity Code (HAC).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="SupplierServiceCode" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Supplier supplied code for service.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="BusinessServiceCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Business Srvc Type (BUS).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This attribute is used to explicitly define whether an amenity or service is offered. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with either Code or BusinessServiceCode.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="CodeInfoGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item. This may be used to provide further information for either Code or BusinessServiceCode (e.g. if printer is selected, the code detail may be used to describe the type of printer available) as determined by the implementer.								</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
								<xs:attribute name="AvailableToAnyGuest" type="xs:boolean" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This flag indicates whether the business service is available to all guests or only to certain guests at the facility. 		</xs:documentation>
										<xs:documentation xml:lang="en">Values: 0 = (No) Not Available to All Guests, 1 = (Yes) Available to All Guests.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="InvCode" type="xs:string" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Identification code of the business service for inventory and booking purposes if the service is an inventoriable item.			</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="ProximityCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Denotes whether a service is onsite, offsite or information is not available. Refer to OTA Code Table Proximity (PRX).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MealPlanCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">This describes available meal plans for a property. Refer to OTA Code Table Meal Plan Type (MPT).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Denotes the total number of service items identified by the Code attribute.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Sort" type="xs:nonNegativeInteger" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Used to define the display order.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MeetingRoomCode" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">At this level, MeetingRoomCode is intended for meeting/business services when high level data is being sent that requires operation schedule information and/or contact information.  Refer to OTA Codelist  Meeting Room Code (MRC).
OTA codelist MRC is also used in FacilityInfo/MeetingRooms/Codes/Code for the instance when an amenity or service applies to all meeting rooms and in FacilityInfo/MeetingRooms/MeetingRoom/Codes/Code for the instance when an amenity or service applies to a specific meeting room.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="RoomAmenity" type="xs:int"/>
								<xs:attribute name="PropertyAmenityType" type="xs:int"/>
								<xs:attribute name="RecreationSrvc" type="xs:int"/>
								<xs:attribute name="SupplierCode" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Supplier code.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="Extras" minOccurs="0"/>
			<xs:element name="WeatherInfos" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of WeatherInfo elements. This may be used to provide information for multiple time periods.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="WeatherInfo" type="WeatherInfoType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides detailed information regarding weather.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="OwnershipManagementInfos" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of OwnershipManagementInfo.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OwnershipManagementInfo" maxOccurs="99">
							<xs:annotation>
								<xs:documentation xml:lang="en">Provides details of the ownership or management.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ContactInfoType">
										<xs:attribute name="RelationshipTypeCode" type="OTA_CodeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Indicates the relationship of the contact or company, contained in the Contact element, to the property.  Refer to OTA Code List Relationship (REL).</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Languages" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Language" maxOccurs="10">
							<xs:complexType>
								<xs:attribute name="Language" type="xs:language" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="WhenBuilt" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date that the hotel facility was built, usually just the year.  If a full date is used, it is recommended that the W3C date format be followed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indication as to the last time any element supported within this message was updated.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AreaWeather" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Description of the weather typical to the hotel facility's area.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InterfaceCompliance" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the interface being used by this hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PMSSystem" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the Property Management System being used by this hotel.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeSpanGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">Used to provide the opening and closing dates for the hotel.  The date that the hotel opened or is going to open is provided in the start attribute.  The end attribute may be used to provide a closing date in the event that the hotel has closed or is going to close.
</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="HotelStatus" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This is a description of the operating status of the Hotel. This information may support the code in HotelStatusCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="HotelStatusCode" type="OTA_CodeType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">This indicates the operating status (e.g. Open, Closed, Deflagged, Pre-opening) of the hotels to be returned in the response. Refer to OTA Code List HotelStatusCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TaxID" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The tax ID code for the property.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DaylightSavingIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When false, indicates the location does not observe Daylight Saving Time.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISO9000CertifiedInd" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, the hotel indicates they are ISO 9000 certified.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MultimediaObjectsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to send multimedia objects and the details associated with them.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MultimediaObject" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Used to pass a multimedia object such as an image, and the details associated with it.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MultimediaObjectType">
							<xs:sequence>
								<xs:element name="ImageItems" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ImageItem" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ImageFormat" minOccurs="0">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="URL" type="xs:anyURI" minOccurs="0"/>
																	<xs:element name="Image" type="xs:anyURI" minOccurs="0"/>
																	<xs:element name="Text" type="ImageFormatTextType" minOccurs="0"/>
																</xs:sequence>
																<xs:attribute name="ContentData" type="xs:string"/>
																<xs:attribute name="Format" type="xs:string"/>
																<xs:attribute name="PictureCategoryCode" type="xs:string"/>
																<xs:attribute name="RecordId" type="xs:int"/>
															</xs:complexType>
														</xs:element>
														<xs:element name="Text" minOccurs="0">
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="xs:string">
																		<xs:attribute name="Language" type="xs:language"/>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="Category" type="xs:string"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="LastUpdated" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The date and time when the multimedia information for this hotel was last updated. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RefPointsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Reference points in relation to/from  the current entity.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RefPoint" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Provides information on the location of an area attraction. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RelativePositionType">
							<xs:sequence>
								<xs:element name="Descriptions" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Collection of descriptions used to describe reference points.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:choice>
											<xs:element name="Description" type="MultimediaObjectType" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">Used to describe reference points.</xs:documentation>
													<xs:documentation xml:lang="en">
														<DeprecationWarning>Candidate for removal, usage is not recommended. Deprecation Warning added in 2006B.</DeprecationWarning>
													</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="MultimediaDescriptions" type="MultimediaDescriptionsType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Multimedia information about the reference point.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
									</xs:complexType>
								</xs:element>
								<xs:element name="DescriptiveText" type="xs:string" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Descriptive text that describes the reference point.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="RefPointCategoryCode" type="OTA_CodeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The code for the type of reference point in the proximity of the hotel facility.  Refer to OTA Code List Reference Point Category Code (REF).</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Proximity" type="xs:string" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This may be used to indicate the proximity (e.g., closest, second closest) between the reference point and the hotel. This may be used in conjunction with RefPointCategoryCode.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="CityCode" type="xs:string" use="optional"/>
							<xs:attributeGroup ref="CodeInfoGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.
								</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="RefPointName" type="StringLength1to32" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The name of the reference point. </xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attributeGroup ref="PositionGroup"/>
							<xs:attributeGroup ref="CodeListGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">Used to specify a reference point by a code.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
							<xs:attribute name="ExistsCode" type="OTA_CodeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">This attribute is used to explicitly define whether the reference point applies. Refer to OTA Code list Option Type Code (OTC). This is used in conjunction with RefPointCategoryCode.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="StateProv" type="StateProvCodeType" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The state or province in which the reference point is located.
</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="CountryCode" type="ISO3166" use="optional">
								<xs:annotation>
									<xs:documentation xml:lang="en">The country in which the reference point is located.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RestaurantsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides detailed information regarding restaurants. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Restaurant" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Details of a specific restaurant such as type of restaurant, directions, schedules, etc.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="RestaurantType">
							<xs:sequence>
								<xs:element name="Features" type="FeaturesType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Collection of features offered by a hotel.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ContactInfos" type="ContactInfosType" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Collection of contact information (e.g., restaurant address, phone number).</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="SrvcInfoCodes" minOccurs="0">
									<xs:annotation>
										<xs:documentation xml:lang="en">Collection of type of restaurant offered.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="SrvcInfoCode" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">This identifies the type of service.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="QuantityGroup"/>
													<xs:attribute name="Code" type="OTA_CodeType" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Refer to OTA Code List Restaurant Srvc Info (RSI).</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attributeGroup ref="CodeInfoGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.
								</xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="RemovalGroup">
								<xs:annotation>
									<xs:documentation xml:lang="en">When true, indicates a single restaurant is being removed.</xs:documentation>
								</xs:annotation>
							</xs:attributeGroup>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SrvcInfoCodes" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Collection of type of restaurant offered.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SrvcInfoCode" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">This identifies the type of service.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attributeGroup ref="QuantityGroup"/>
								<xs:attribute name="Code" type="OTA_CodeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Refer to OTA Code List Restaurant Srvc Info (RSI).</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attributeGroup ref="CodeInfoGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">May be used to give further detail on the code or to remove an obsolete item.
								</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the total number of food and beverage outlets for a property.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ImageFormatTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Language" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
