spnr_xml/spnr_sdk/xsd/SupplierInfoCommon.xsd

<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Piotr Kita (OpenJaw Technologies Polska Sp. z o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="StreetNmbr" type="xs:string" minOccurs="0"/>
			<xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Area" type="xs:string" minOccurs="0"/>
			<xs:element name="CityName" type="xs:string" minOccurs="0"/>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="StateProv" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="StateCode" type="StateProvCodeType"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountryName" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="Code" type="ISO3166"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:attribute name="CountryAccessCode" type="NumericStringLength1to5"/>
		<xs:attribute name="AreaCityCode" type="StringLength1to16"/>
		<xs:attribute name="PhoneNumber" type="StringLength1to32"/>
		<xs:attribute name="PhoneTechType" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ContactInfo">
		<xs:sequence>
			<xs:element name="Addresses">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="Address">
										<xs:attribute name="UseType" type="xs:int" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Names">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:complexType>
								<xs:attribute name="FullName" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Phones" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="Phone" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Emails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contact">
							<xs:complexType>
								<xs:attribute name="FullName" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Code" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="SupplierDescriptiveContentType">
		<xs:sequence minOccurs="0">
			<xs:element name="BookingOffices">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="BookingOffice" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Addresses">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Address" type="Address" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Names">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name">
													<xs:complexType>
														<xs:attribute name="FullName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Phones">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Phone" type="Phone" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Emails">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Email" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Contacts">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Contact">
													<xs:complexType>
														<xs:attribute name="FullName" type="xs:string"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SupplierNotification" minOccurs="0">
										<xs:complexType>
											<xs:sequence minOccurs="0">
												<xs:element name="Phones" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Phones" type="Phone"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Emails" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="Email" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="PreferredMethod"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="Contract" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ContactInfos">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ContactInfo" type="ContactInfo" maxOccurs="2"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="PaymentDetails" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PaymentDetail">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="BankAcct">
																			<xs:complexType>
																				<xs:attribute name="BankAcctNumber"/>
																				<xs:attribute name="BankName"/>
																				<xs:attribute name="IBAN"/>
																				<xs:attribute name="SortCode"/>
																				<xs:attribute name="SwiftCode"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="BankAccName"/>
																		<xs:element name="Currency">
																			<xs:complexType>
																				<xs:attribute name="Code"/>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="PaymentType"/>
																		<xs:element name="BankAddress" type="Address"/>
																		<xs:element name="AgressoExtraFields">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="PaymentTerm">
																						<xs:complexType>
																							<xs:attribute name="Type"/>
																						</xs:complexType>
																					</xs:element>
																				</xs:sequence>
																				<xs:attribute name="HandOffCurrency"/>
																				<xs:attribute name="HandOffRouting"/>
																				<xs:attribute name="PaymentMethod"/>
																				<xs:attribute name="PaymentType"/>
																				<xs:attribute name="RemittanceVia"/>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																	<xs:attribute name="Code" type="xs:int" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Code" use="optional">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:minLength value="1"/>
											<xs:maxLength value="20"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Policies" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Policy" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Code" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation xml:lang="en">An identifier for a policy, e.g. QR - for a QR code time limits.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="AbsoluteCutoff" type="DateOrTimeOrDateTimeType" use="optional">
									<xs:annotation>
										<xs:documentation xml:lang="en">Defines the absolute deadline. Either this or the offset attributes may be used.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="OffsetTimeUnit" type="TimeUnitType" use="optional">
									<xs:annotation>
										<xs:documentation source="Description" xml:lang="en">The units of time, e.g.: days, hours, etc., that apply to the deadline.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="OffsetUnitMultiplier" type="Numeric0to999" use="optional">
									<xs:annotation>
										<xs:documentation source="Description" xml:lang="en">The number of units of DeadlineTimeUnit.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Deduplication" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Duplicate match identification configuration.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Algorithm">
							<xs:annotation>
								<xs:documentation>Configuration of individual algorithms.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Algorithm specific parameters.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:attribute name="Name" type="xs:string" use="required"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="Name" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>The logical name of the algorithm.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Weight" type="xs:positiveInteger" use="required">
									<xs:annotation>
										<xs:documentation>Relative weight of the algorithm compared to others.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="WeightForNotFoundHotels" use="required">
									<xs:annotation>
										<xs:documentation>Weight to be assigned to hotels nt found by this algorithm.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="MinimumQuality" use="required">
									<xs:annotation>
										<xs:documentation>Minimum quality that needs to be achieved to preserve hotel as candidate duplicate.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="Enabled" type="xs:boolean" use="required">
									<xs:annotation>
										<xs:documentation>Determines whether the algorihtm is selected as deduplication algorithm or not.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="AutomaticMergeThreshold" type="Percentage" use="required">
						<xs:annotation>
							<xs:documentation>If a single duplicate hotel is found with match quality above spec'd percentage here, a merge will be initiated.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="MergeConfigurations" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MergeConfiguration" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="AutoMerge" use="required"/>
								<xs:attribute name="Code" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VoucherProductTypes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Product types aggregator.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VoucherProductType" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of product types supported by supplier for vouchers issuance.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="Type" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>Product type value.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="EnableDepotRegion" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>enable or disable car depot region</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Enabled" type="xs:boolean" use="required"/>
		<xs:attribute name="External" type="xs:boolean" use="required"/>
		<xs:attribute name="SupplierCode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SupplierName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="DateTimeStampGroup">
			<xs:annotation>
				<xs:documentation xml:lang="en">The timestamp of the supplier content is created or changed.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
	</xs:complexType>
	<xs:complexType name="BookingOfficesType">
		<xs:sequence>
			<xs:element name="BookingOffice" type="BookingOfficeType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingOfficeType">
		<xs:sequence>
			<xs:element name="Addresses">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="Address" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Names">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name">
							<xs:complexType>
								<xs:attribute name="FullName" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Phones">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Phone" type="Phone" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Emails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Contact">
							<xs:complexType>
								<xs:attribute name="FullName" type="xs:string"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SupplierNotification" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="Phones" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Phones" type="Phone"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Emails" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Email" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="PreferredMethod"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Contract" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactInfos">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactInfo" type="ContactInfo" maxOccurs="2"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PaymentDetails" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PaymentDetail">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BankAcct">
													<xs:complexType>
														<xs:attribute name="BankAcctNumber"/>
														<xs:attribute name="BankName"/>
														<xs:attribute name="IBAN"/>
														<xs:attribute name="SortCode"/>
														<xs:attribute name="SwiftCode"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="BankAccName"/>
												<xs:element name="Currency">
													<xs:complexType>
														<xs:attribute name="Code"/>
													</xs:complexType>
												</xs:element>
												<xs:element name="PaymentType"/>
												<xs:element name="BankAddress" type="Address"/>
												<xs:element name="AgressoExtraFields">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PaymentTerm">
																<xs:complexType>
																	<xs:attribute name="Type"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
														<xs:attribute name="HandOffCurrency"/>
														<xs:attribute name="HandOffRouting"/>
														<xs:attribute name="PaymentMethod"/>
														<xs:attribute name="PaymentType"/>
														<xs:attribute name="RemittanceVia"/>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="Code" type="xs:int" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Code" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
