spnr_xml/spnr_sdk/ota/ota/OJ_Extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Sean Kelly (OpenJaw Technologies Ltd.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.006" id="OTA2003A2006B">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:complexType name="CorporateType">
		<xs:annotation>
			<xs:documentation>To store corporate ID information</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Grade" type="xs:int">
			<xs:annotation>
				<xs:documentation>Used in avail requests to give a numeric representation to the grade held by the user for qwhich the sesarch is being performed.  </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Descriiption of the type of corporation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ID represesenting corporate association</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="ExtendedUserID">
		<xs:annotation>
			<xs:documentation>To store the user indentification</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UserID" type="StringLength1to16" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OJ_PayloadStdAttributes">
		<xs:attribute name="BookingChannel" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>This defines the supplier channel used for this component</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SPNR_ProductID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>This defines the product id within a superPNR.  This should be echoed back in the response so it can be tied back to the SuperPNR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="productID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to define the ProductNumber for a RQ. This allows you to match a particular RS to a particular RQ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LandingPageProfileID" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Used to idenfity a search generated by a robot to feed landing pages cache</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IsLoggedIn" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether a logged-in end user generated this message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SuperPNR_ID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The SuperPNR ID of the booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OJ_PayloadExtAttributes">
		<xs:attributeGroup ref="OJ_PayloadStdAttributes"/>
		<xs:attribute name="State" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the state of this kind of product, which maybe present, only, or absent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ExtendedCurrencyGroup">
		<xs:annotation>
			<xs:documentation>To store the original supplier currency amounts where the sale currency differs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="OriginalAmount" type="xs:float" use="optional"/>
		<xs:attribute name="OriginalCurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ExtendedCurrencyHotelGroup">
		<xs:annotation>
			<xs:documentation>To store the original supplier currency amounts where the sale currency differs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="OriginalAmountBeforeTax" type="xs:float" use="optional"/>
		<xs:attribute name="OriginalAmountAfterTax" type="xs:float" use="optional"/>
		<xs:attribute name="OriginalCurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="ImageDataType" mixed="true">
		<xs:annotation>
			<xs:documentation>To store Image data bytes</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="ExtendedCurrencyVehicleGroup">
		<xs:annotation>
			<xs:documentation>To store the original supplier currency amounts where the sale currency differs</xs:documentation>
		</xs:annotation>
		<xs:attribute name="OriginalRateTotalAmount" type="xs:float" use="optional"/>
		<xs:attribute name="OriginalEstimatedTotalAmount" type="xs:float" use="optional"/>
		<xs:attribute name="OriginalCurrencyCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code specifying a monetary unit. Use ISO 4217, three alpha code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="ExtendedTextDescription">
		<xs:annotation>
			<xs:documentation>To store extra information for a text description</xs:documentation>
		</xs:annotation>
		<xs:attribute name="IsSearchable" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation source="Description">Indicate if text description can be used during a search (activity,hotel..)
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExactMatch" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Indicates if search for the exact text
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="CheckRule_Type">
		<xs:annotation>
			<xs:documentation>Specified information necessary to perform rule check on a particular host.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" use="required">
			<xs:annotation>
				<xs:documentation>Check rule name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PseudoCityCode" use="required">
			<xs:annotation>
				<xs:documentation>PCC associated with that check rule.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="OJ_SuperPNR_RPH">
		<xs:annotation>
			<xs:documentation>To relate passengers to products within the OJ_SuperPNR</xs:documentation>
		</xs:annotation>
		<xs:attribute name="OJ_SuperPNR_RPH" type="RPH_Type" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="OJ_PTC_Group">
		<xs:attribute name="PassengerTypeCode" type="AlphaLength3" use="optional">
			<xs:annotation>
				<xs:documentation>The passenger type code to indicate the type of traveler that will travel, for example, ADT, CHD, INF.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PTCSubType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A subtype of the PassengerType. For example, disabled military or disabled police are subtypes of the adult passenger type.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union memberTypes="StringLength1to8 OTA_CodeType"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="OJ_SupplementalDataAttributes">
		<xs:attribute name="Number" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Confirmation Number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The Confirmation Status</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="PriceAdjustmentBaseAttributes">
		<xs:attribute name="Modular" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates if this price adjustment has been applied at a modular level rather than at a package level after package creation. During repricing all package level price adjustments will be removed and recalculated, but modular ones will be retained.    </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CostCentre" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The cost centre associated with the item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Manual" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates if this price adjustment is a manual one performed by an agent, rather than an automatic one applied by the rules. During repricing all automatic price adjustments will be removed and recalculated, but manual ones will be retained.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Date" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation>The date when this adjustment was added</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code1" type="xs:string"/>
		<xs:attribute name="Code2" type="xs:string"/>
		<xs:attribute name="Exclusivity" type="xs:string"/>
		<xs:attribute name="Group" type="xs:string"/>
		<xs:attribute name="Percent" type="Percentage"/>
		<xs:attribute name="ProductType" type="xs:string"/>
		<xs:attribute name="Stage" type="xs:string"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="PriceAdjustmentAttributes">
		<xs:attribute name="Description" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>A description or name of the item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Code" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Any code associated with this item</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CodeContext" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The context of the code eg the vendor name, or the supplier name, or name of some standard list of codes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="TSAncillaryProductGroup">
		<xs:annotation>
			<xs:documentation>TravelSky custom AncillaryProduct attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Cancelable" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates if the product can be cancelled individually, before it has been paid. If it is true, the product can be cancelled separately from the BookedWith flight.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isSegBind" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates if the product is bound with a flight segment. If it is false, the flight segment can be changed without modifying this bound product.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Refundable" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the product is refundable or non-refundable after it has been fully paid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="UnitPrice">
		<xs:annotation>
			<xs:documentation>Price of a single product, typically used when /ModularProduct/AncillaryProduct/@Quantity is greater than 1</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UnitPrice" type="xs:float" use="optional"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="CountryAttrsGroup">
		<xs:annotation>
			<xs:documentation>Country attributes</xs:documentation>
		</xs:annotation>
		<xs:attribute name="CountryCode" type="ISO3166" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">ISO 3166 Country Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CountryName" type="StringLength1to64" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Country Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
