spnr_xml/spnr_sdk/ota/ota/OTA_PenaltiesCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by Krzysztof Ulman (OpenJaw Technologies Polska Sp. z o.o.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.006" id="OTA2003A2006B">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:complexType name="CancelPenaltiesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of CancelPenalty.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CancelPenalty" type="CancelPenaltyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the cancellation penalty of the hotel facility. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type">
			<xs:annotation>
				<xs:documentation>The cancellation policy type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CancelPolicyIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a cancel policy exits. When false, no cancel policy exists.  Typically this indicator is used when details are not being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Source" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the source used to determine the refund. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CancellationCutOff" type="TimeOrDateTimeType">
			<xs:annotation>
				<xs:documentation>This is the time of the day when the cancellation penalties are applied</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FlightSegmentRPH"/>
	</xs:complexType>
	<xs:complexType name="CancelPenaltyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The CancelPenalty class defines the cancellation policy of the hotel facility. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="Deadline" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Cancellation deadline, absolute or relative. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="DeadlineGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AmountPercent" type="AmountPercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Cancellation fee expressed as a fixed amount, or percentage of/or room nights.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PenaltyDescription" type="ParagraphType" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation xml:lang="en">Text description of the Penalty in a given language.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StayInfo" type="PenaltyStayInfoType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ConfirmClassCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Confirm Class.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PolicyCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Policy Class.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NonRefundable" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates that any prepayment for the reservation is non refundable, therefore a 100% penalty on the prepayment is applied, irrespective of deadline.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FlightSegmentRPH" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Unique identifier to link the penalty with the appropriate Flight segment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OriginDestinationRPH" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Unique identifier to link the penalty with the appropriate Origin Destination.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="DOW_PatternGroup"/>
		<xs:attributeGroup ref="DateTimeSpanGroup"/>
		<xs:attribute name="RoomTypeCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">A system specific room type to which this cancellation penalty applies.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="eTicketNumber" type="xs:string">
			<xs:annotation>
				<xs:documentation>If reservation is electronically ticketed at time of booking, this is the field for the eTicket number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomRateReference" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The reference to the RoomRate element this penalty applies to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CalcPriceBasis" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">indicates the cancellation fee is calculated base on Base price or Selling price.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Original">
						<xs:annotation>
							<xs:documentation xml:lang="en">The original price before price adjustment.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Adjusted">
						<xs:annotation>
							<xs:documentation xml:lang="en">The price after price adjustment.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ComboCode" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the cancellation fee for a certain combination.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PTC" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates the passenger type code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AmountPercentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines the percentage basis  for calculating the fee amount or the amount .</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Taxes" type="TaxesType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Quantity" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether a loyalty point quantity is included in the penalty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TaxInclusive" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether taxes are included when figuring the base amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FeesInclusive" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Indicates whether fees, such as those imposed by a travel agency or other booking agent, are included when figuring cancel penalties.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NmbrOfNights" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The number of nights of the hotel stay that are used to calculate the fee amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BasisType" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">An enumerated type indicating when the drop time goes into effect.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="StringLength1to16">
					<xs:enumeration value="FullStay"/>
					<xs:enumeration value="Nights"/>
					<xs:enumeration value="FirstLast"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Percent" type="Percentage" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The percentage used to calculate the amount.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="CurrencyAmountGroup"/>
	</xs:complexType>
	<xs:complexType name="OJ_AmendPenaltiesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of AmendPenalties</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AmendPenalty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the cancellation penalty of the hotel facility. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CancelPenaltyType">
							<xs:attribute name="PerPerson" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Indicates a penalty is to be applied per-person</xs:documentation>
								</xs:annotation>
							</xs:attribute>
							<xs:attribute name="Type">
								<xs:annotation>
									<xs:documentation>Enumeration indicating Policy Type, i.e. Upgrade, Change etc.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Change"/>
										<xs:enumeration value="Upgrade"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Allowed">
								<xs:annotation>
									<xs:documentation>Indicates whether a type action is allowed or not </xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CancelPolicyIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a cancel policy exits. When false, no cancel policy exists.  Typically this indicator is used when details are not being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Source" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the source used to determine the refund. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OJ_CancelPenaltiesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of CancelPenalties</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CancelPenalty" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines the cancellation penalty of the hotel facility. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CancelPenaltyType">
							<xs:attribute name="PerPerson" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Indicates a penalty is to be applied per-person</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CancelPolicyIndicator" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">When true, indicates a cancel policy exits. When false, no cancel policy exists.  Typically this indicator is used when details are not being sent.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PenaltyStayInfoType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Advisory information that applies to all the rule information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="MaximumStay" use="optional"/>
		<xs:attribute name="MinimumStay" use="optional"/>
		<xs:attribute name="StayRestrictionsInd" use="optional"/>
	</xs:complexType>
</xs:schema>
